@model MemberUser

@{
    ViewData["Title"] = Model.FullName;
}

<h2>@ViewData["Title"]</h2>
<h3>@Model.Email</h3>

<hr>

<h5 class="d-flex justify-content-between">
    <span>
        @if(Model.HasPayedMembershipThisYear())
        {
            @: <span style="color: #0a0">&#x2713;</span> Medlemskap betalt
        }
        else
        {
            @: <span style="color: #d00">&#x2718;</span> Medlemskap ikke betalt
        }
    </span>
    <span>
        @if(Model.HasPayedTrainingFeeThisSemester())
        {
            @: <span style="color: #0a0">&#x2713;</span> Treningsavgift
        }
        else
        {
            @: <span style="color: #d00">&#x2718;</span> Treningsavgift ikke betalt
        }
    </span>
    <span>
        @if(Model.HasPayedClassesFeeThisSemester())
        {
            @: <span style="color: #0a0">&#x2713;</span> Kursavgift
        }
        else
        {
            @: <span style="color: #d00">&#x2718;</span> Kursavgift ikke betalt
        }
    </span>
</h5>
<hr>

<div class="card-deck">
    <div class="card shadow-sm">
        <h3 class="card-header">
            Betalinger
        </h3>
        <table class="table card-body">
            <thead>
                <tr>
                    <th>Dato</th>
                    <th>Beskrivelse</th>
                    <th>Beløp</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var payment in Model.Payments)
                {
                    <tr class="@(payment.Refunded ? "line-through" : "")">
                        <td>
                            @if (User.IsInRole(Roles.ADMIN) && payment.StripeChargeId != null)
                            {
                                <a href="https://dashboard.stripe.com/payments/@payment.StripeChargeId" target="_blank">
                                    @payment.PayedAt
                                </a>
                            }
                            else
                            {
                                @payment.PayedAt
                            }
                        </td>
                        <td>@payment.Description</td>
                        <td>@payment.Amount.FormatMoney()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @if (User.IsInRole(Roles.ADMIN))
    {
        <div class="card">
            <h3 class="card-header">
                Rettigheter
            </h3>
            <div class="card-body">
                <partial name="_Role" model="(Model, Roles.ADMIN)" />
                <partial name="_Role" model="(Model, Roles.COORDINATOR)" />
                <hr />
                <form asp-controller="Members" asp-action="SetExemptions" asp-route-id="@Model.Id" method="post" class="form">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="ExemptFromTrainingFee" onchange="form.submit()" />
                        <label class="form-check-label" asp-for="ExemptFromTrainingFee">Fritatt fra treningsavgift</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" asp-for="ExemptFromClassesFee" onchange="form.submit()" />
                        <label class="form-check-label" asp-for="ExemptFromClassesFee">Fritatt fra kursavgift</label>
                    </div>
                </form>
            </div>
        </div>
    }
</div>