@using MemberService.Data.ValueTypes
@model User

@{
    ViewData["Title"] = Model.FullName;
}

<h2>@ViewData["Title"]</h2>
<h3>@Model.Email</h3>

<hr>

<h5 class="d-flex justify-content-between">
    <span>
        @if(Model.HasPayedMembershipThisYear())
        {
            @: <span style="color: #0a0">&#x2713;</span> Medlemskap betalt
        }
        else
        {
            @: <span style="color: #d00">&#x2718;</span> Medlemskap ikke betalt
        }
    </span>
    <span>
        @if(Model.HasPayedTrainingFeeThisSemester())
        {
            @: <span style="color: #0a0">&#x2713;</span> Treningsavgift
        }
        else
        {
            @: <span style="color: #d00">&#x2718;</span> Treningsavgift ikke betalt
        }
    </span>
    <span>
        @if(Model.HasPayedClassesFeeThisSemester())
        {
            @: <span style="color: #0a0">&#x2713;</span> Kursavgift
        }
        else
        {
            @: <span style="color: #d00">&#x2718;</span> Kursavgift ikke betalt
        }
    </span>
</h5>
<hr>

<div class="card-columns card-columns-2">
    <div class="card">
        <h3 class="card-header">
            Rettigheter
        </h3>
        <div class="card-body">
            @if (User.CanToggleInstructorRole())
            {
                <partial name="_Role" model="(Model, Roles.INSTRUCTOR)" />
                <hr />
            }
            else if (User.CanToggleAllRoles())
            {
                <partial name="_Role" model="(Model, Roles.INSTRUCTOR)" />
                <partial name="_Role" model="(Model, Roles.COORDINATOR)" />
                <partial name="_Role" model="(Model, Roles.ADMIN)" />
                <hr />
                <form asp-controller="Members" asp-action="SetExemptions" asp-route-id="@Model.Id" method="post" class="form">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="ExemptFromTrainingFee" onchange="form.submit()" />
                        <label class="form-check-label" asp-for="ExemptFromTrainingFee">Fritatt fra treningsavgift</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" asp-for="ExemptFromClassesFee" onchange="form.submit()" />
                        <label class="form-check-label" asp-for="ExemptFromClassesFee">Fritatt fra kursavgift</label>
                    </div>
                </form>
            }
            else
            {
                @Checkmark(Model.ExemptFromTrainingFee)
                @: Fritatt fra treningsavgift
                <br />
                @Checkmark(Model.ExemptFromClassesFee)
                @: Fritatt fra kursavgift
            }
        </div>
    </div>


    <div class="card shadow-sm">
        <h3 class="card-header">
            Påmeldinger
        </h3>
        <table class="table card-body">
            <thead>
                <tr>
                    <th>Dato</th>
                    <th>Arrangement</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var signup in Model.EventSignups)
                {
                    <tr>
                        <td>
                            <abbr title="@signup.SignedUpAt.ToOsloDateTime()">@signup.SignedUpAt.ToOsloDate()</abbr>
                        </td>
                        <td>
                            <a asp-controller="Event" asp-action="View" asp-route-id="@signup.EventId">@signup.Event.Title</a>
                            <span class="badge badge-primary badge-pill">@(signup.Priority). pri</span>
                        </td>
                        <td>@signup.Status.DisplayName()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="card shadow-sm">
        <h3 class="card-header">
            Betalinger
            @if (User.IsInRole(Roles.ADMIN))
            {
                <form asp-action="UpdatePayments" asp-route-id="@Model.Id" method="POST" class="float-right">

                    <button class="btn btn-primary">
                        &#8635;
                    </button>
                </form>
            }
        </h3>
        <table class="table card-body">
            <thead>
                <tr>
                    <th>Dato</th>
                    <th>Beskrivelse</th>
                    <th>Beløp</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var payment in Model.Payments.OrderByDescending(p => p.PayedAtUtc))
                {
                    <tr class="@(payment.Refunded ? "line-through" : "")">
                        <td>
                            <abbr title="@payment.PayedAtUtc.ToOsloDateTime()">@payment.PayedAtUtc.ToOsloDate()</abbr>
                        </td>
                        <td>
                            @if (User.IsInRole(Roles.ADMIN) && payment.StripeChargeId != null)
                            {
                                <a href="https://dashboard.stripe.com/payments/@payment.StripeChargeId" target="_blank">
                                    @payment.Description
                                </a>
                            }
                            else
                            {
                                @payment.Description
                            }
                        </td>
                        <td>@payment.Amount.FormatMoney()</td>
                    </tr>
                }
            </tbody>
        </table>
        @if (User.IsInRole(Roles.ADMIN))
        {
            <div class="card-footer">
                <button class="btn btn-link" data-toggle="collapse" data-target="#addManualPayment" aria-expanded="false" aria-controls="addManualPayment">
                    Legg til manuell betaling
                </button>
                <form class="collapse" id="addManualPayment" method="post" asp-action="AddManualPayment" asp-route-id="@Model.Id">
                    <partial name="_ManualPaymentForm" model="new ManualPaymentModel()" />
                </form>
            </div>
        }
    </div>
</div>

@functions{

    string Checkmark(bool exempt)
    {
        return exempt
            ? "\u2611"
            : "\u2610";
    }
}