@using MemberService.Pages.Members
@model MembersViewModel

@{
    ViewData["Title"] = "Medlemmer";
}
<h2>@ViewData["Title"]</h2>

<form class="form-inline d-print-none" asp-action="Index" method="GET">
    <div class="form-check mb-2 mr-sm-2">
        <input class="form-check-input" type="radio" id="AllUsers" name="filter" value="AllUsers" checked=@(!Model.OnlyMembers && !Model.OnlyTraining && !Model.OnlyClasses)>
        <label class="form-check-label" for="AllUsers">
        Alle medlemmer
        </label>
    </div>

    <div class="form-check mb-2 mr-sm-2">
        <input class="form-check-input" type="radio" id="OnlyMembers" name="filter" value="OnlyMembers" checked=@Model.OnlyMembers>
        <label class="form-check-label" for="OnlyMembers">
        Som har betalt medlemskap
        </label>
    </div>

    <div class="form-check mb-2 mr-sm-2">
        <input class="form-check-input" type="radio" id="OnlyTraining" name="filter" value="OnlyTraining" checked=@Model.OnlyTraining>
        <label class="form-check-label" for="OnlyTraining">
        Som har betalt treningsavgift
        </label>
    </div>

    <div class="form-check mb-2 mr-sm-2">
        <input class="form-check-input" type="radio" id="OnlyClasses" name="filter" value="OnlyClasses" checked=@Model.OnlyClasses>
        <label class="form-check-label" for="OnlyClasses">
        Som har betalt kursavgift
        </label>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Filtrer</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Navn</th>
            <th>E-post</th>
            <th class="text-center">Medlemskap</th>
            <th class="text-center">Treningsavgift</th>
            <th class="text-center">Kurs</th>
        </tr>
    </thead>
    @foreach(var (character, users) in Model.Users){
        <thead class="thead-light">
            <tr>
                <th colspan="5" class="text-uppercase">@character</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in users){
                <tr>
                    <td><a asp-action="Details" asp-route-id="@user.Id">@user.FullName</a></td>
                    <td>@user.Email</td>
                    <td class="font-weight-bold text-center text-success">@(user.HasPayedMembershipThisYear() ? "\u2713" : "" )</td>
                    <td class="font-weight-bold text-center text-success">@(user.HasPayedTrainingFeeThisSemester() ? "\u2713" : "" )</td>
                    <td class="font-weight-bold text-center text-success">@(user.HasPayedClassesFeeThisSemester() ? "\u2713" : "" )</td>
                </tr>
            }
        </tbody>
    }
</table>