@page
@using MemberService.Data.ValueTypes
@model IndexModel

@{
    ViewData["Title"] = "Medlemmer";
}
<h2>@ViewData["Title"] <span class="text-muted">(@Model.Users.Sum(p => p.Users.Count))</span></h2>
<hr>
<form class="form d-print-none" id="filter-form" method="GET">
    <div class="form-group row mb-3">
        <div class="col input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">&#x1F50E;</span>
            </div>
            <input class="form-control" asp-for="Query" type="search"
                placeholder="f.eks Noens Navn eller eksempel@epost.no">
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Søk</button>
            </div>
        </div>
    </div>
    <div class="form-row mb-3 align-items-center">
        <div class="col">
            <select class="custom-select" asp-for="MemberFilter" onchange="this.form.submit()">
                <option value="All">Alle</option>
                <option value="Only">&#x2713; Som har betalt medlemskap</option>
                <option value="Not">&#x2717; Som ikke har betalt medlemskap</option>

                @if (await AuthorizationService.IsAuthorized(User, Policy.CanViewOlderMembers))
                {
                    <option value="LastYear">&#x2713; Som betalte medlemskap i fjor</option>
                    <option value="LastOrThisYear">&#x2713; Som betalte medlemskap i fjor eller i år</option>
                }
            </select>
        </div>
        <div class="col">
            <select class="custom-select" asp-for="TrainingFilter" onchange="this.form.submit()">
                <option value="All">Alle</option>
                <option value="Only">&#x2713; Som har betalt treningsavgift</option>
                <option value="Not">&#x2717; Som ikke har betalt treningsavgift</option>
            </select>
        </div>
        <div class="col">
            <select class="custom-select" asp-for="ClassesFilter" onchange="this.form.submit()">
                <option value="All">Alle</option>
                <option value="Only">&#x2713; Som har betalt for kurs</option>
                <option value="Not">&#x2717; Som ikke har betalt for kurs</option>
            </select>
        </div>
        <div class="col">
            <select class="custom-select" asp-for="ExemptTrainingFilter" onchange="this.form.submit()">
                <option value="All">Alle</option>
                <option value="Only">&#x2713; Som er fritatt treningsavgift</option>
                <option value="Not">&#x2717; Som ikke er fritatt treningsavgift</option>
            </select>
        </div>
        <div class="col">
            <select class="custom-select" asp-for="ExemptClassesFilter" onchange="this.form.submit()">
                <option value="All">Alle</option>
                <option value="Only">&#x2713; Som er fritatt kursavgift</option>
                <option value="Not">&#x2717; Som ikke er fritatt kursavgift</option>
            </select>
        </div>
        <div class="col">
            <select class="custom-select"
                    asp-for="SomeStatusFilter"
                    asp-items="Html.GetEnumSelectList<SomeConsentState>()"
                    onchange="this.form.submit()">

                <option value="">Alle</option>
            </select>
        </div>

        @if (await AuthorizationService.IsAuthorized(User, Policy.CanToggleRoles))
        {
            <div class="col">
                <select class="custom-select" asp-for="Role" onchange="this.form.submit()">
                    <option value="All">Alle</option>
                    @foreach(var role in Roles.All)
                    {
                        <option value="@role">@role</option>
                    }
                </select>
            </div>
        }
    </div>
</form>
<form asp-page-handler="SendEmail" method="post">
    <table class="table">
        <thead>
            <tr>
                <th class="text-center"><abbr title="Medlemskap">M</abbr></th>
                <th class="text-center"><abbr title="Treningsavgift">T</abbr></th>
                <th class="text-center"><abbr title="Kurs">K</abbr></th>
                <th class="text-center"><abbr title="Samtykke for sosiale medier">S</abbr></th>
                <th>Navn</th>
                <th>
                    @if (await AuthorizationService.IsAuthorized(User, Policy.CanSendEmailToMembers)) {
                        <input type="checkbox" data-action="select-all">
                    }
                    E-post
                </th>
            </tr>
        </thead>
        @foreach (var (character, users) in Model.Users)
        {
            <thead class="thead-light">
                <tr>
                    <th colspan="7" class="text-uppercase">@character</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in users)
                {
                    <tr>
                        <td class="font-weight-bold text-center @Color()">@Checkmark(user.HasPayedMembershipThisYear)</td>
                        <td class="font-weight-bold text-center @Color(user.ExemptFromTrainingFee)">
                            @Checkmark(user.HasPayedTrainingFeeThisSemester)</td>
                        <td class="font-weight-bold text-center @Color(user.ExemptFromClassesFee)">
                            @Checkmark(user.HasPayedClassesFeeThisSemester)</td>
                        <td class="font-weight-bold text-center">
                            <abbr title="@(user.SomeStatus.HasValue ? user.SomeStatus.Value.GetDisplayName() : "")">
                                @(user.SomeStatus.HasValue ? user.SomeStatus.Value.GetDisplayCharacter() : "")</abbr>
                        </td>
                        <td>
                            <a asp-page="Details" asp-route-id="@user.Id">
                                @if (string.IsNullOrWhiteSpace(user.FullName))
                                {
                                    <span class="text-muted">@user.Email</span>
                                }
                                else
                                {
                                    @user.FullName
                                }
                            </a>
                        </td>
                        <td>
                            @if (await AuthorizationService.IsAuthorized(User, Policy.CanSendEmailToMembers)) {
                                <input type="checkbox" name="users" value="@user.Id">
                            }
                            @user.Email
                        </td>
                    </tr>
                }
            </tbody>
        }
    </table>

    <div class="d-flex justify-content-between">
        <button type="submit" form="filter-form" name="handler" value="export" class="btn btn-outline-secondary">Exporter som csv fil</button>

        @if (await AuthorizationService.IsAuthorized(User, Policy.CanSendEmailToMembers))
        {
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-email">Send epost til valgte brukere</button>
        }
    </div>

    @if (await AuthorizationService.IsAuthorized(User, Policy.CanSendEmailToMembers))
    {
        <div class="modal fade" id="modal-email" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">
                            Send epost til brukere
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Subject</label>
                            <input type="text" class="form-control" name="subject" value="">
                        </div>
                        <div class="form-group">
                            <label>Body</label>
                            <textarea class="form-control" name="body" rows="10"></textarea>
                        </div>
                        <small class="text-muted">
                            Du kan bruke markdown og du kan bruke <code>{NAME}</code> for å flette inn brukerens navn.
                        </small>
                    </div>
                    <div class="modal-footer">
                        <span class=text-muted>Svar blir sendt til <strong>@User.GetEmail()</strong></span>
                        <button type="submit" class="btn btn-success">Send</button>
                    </div>
                </div>
            </div>
        </div>
    }
</form>

@functions{
    string Checkmark(bool paid)
    {
        return paid
            ? "\u2713"
            : "";
    }

    string Color(bool exempt = false)
    {
        return exempt
            ? "text-danger"
            : "text-success";
    }
}

@section Scripts {
    <script>
        $(function () {
            $("input[data-action=select-all]").on('click', function () {
                var table = $(this).parents('table');

                var checked = this.checked;

                table.find('input[type=checkbox]').prop('checked', checked);
            });
        });
    </script>
}
