@using MemberService.Pages.Members
@model MembersViewModel


@{
    var thisYear = new DateTime(DateTime.Today.Year, 1, 1);
}
<h2>Users</h2>

<form class="form-inline" asp-action="Index" method="GET">
    <div class="form-check mb-2 mr-sm-2">
        <input class="form-check-input" type="radio" id="AllUsers" name="filter" value="AllUsers" checked=@(!Model.OnlyMembers && !Model.OnlyTraining && !Model.OnlyClasses)>
        <label class="form-check-label" for="AllUsers">
        Alle medlemmer
        </label>
    </div>

    <div class="form-check mb-2 mr-sm-2">
        <input class="form-check-input" type="radio" id="OnlyMembers" name="filter" value="OnlyMembers" checked=@Model.OnlyMembers>
        <label class="form-check-label" for="OnlyMembers">
        Som har betalt medlemskap
        </label>
    </div>

    <div class="form-check mb-2 mr-sm-2">
        <input class="form-check-input" type="radio" id="OnlyTraining" name="filter" value="OnlyTraining" checked=@Model.OnlyTraining>
        <label class="form-check-label" for="OnlyTraining">
        Som har betalt treningsavgift
        </label>
    </div>

    <div class="form-check mb-2 mr-sm-2">
        <input class="form-check-input" type="radio" id="OnlyClasses" name="filter" value="OnlyClasses" checked=@Model.OnlyClasses>
        <label class="form-check-label" for="OnlyClasses">
        Som har betalt kursavgift
        </label>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Filtrer</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th class="text-center">Medlemskap</th>
            <th class="text-center">Treningsavgift</th>
            <th class="text-center">Kurs</th>
            @if(User.IsInRole(Roles.ADMIN)){
                <th colspan="2">Admin</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model.Users){
            <tr>
                <td>@user.UserName</td>
                <td class="font-weight-bold text-center text-success">@(user.HasPayedMembershipThisYear() ? "\u2713" : "" )</td>
                <td class="font-weight-bold text-center text-success">@(user.HasPayedTrainingThisSemester() ? "\u2713" : "" )</td>
                <td class="font-weight-bold text-center text-success">@(user.HasPayedClassesThisSemester() ? "\u2713" : "" )</td>
                @if(User.IsInRole(Roles.ADMIN)){
                    <td>
                        @if(user.UserRoles.Any(r => r.Role.Name == Roles.ADMIN))
                        {
                            <text>Admin</text>
                        }
                        else
                        {
                            <form asp-controller="Members" asp-action="MakeAdmin" method="post">
                                <input type="hidden" name="email" value="@user.Email">
                                <button>Admin</button>
                            </form>
                        }
                    </td>
                    <td>
                        @if(user.UserRoles.Any(r => r.Role.Name == Roles.COORDINATOR))
                        {
                            <text>Coordinator</text>
                        }
                        else
                        {
                            <form asp-controller="Members" asp-action="MakeCoordinator" method="post">
                                <input type="hidden" name="email" value="@user.Email">
                                <button>Coordinator</button>
                            </form>
                        }
                    </td>
                }
            </tr>
        }
    </tbody>
</table>