@using MemberService.Pages.Members
@model MembersViewModel

@{
    ViewData["Title"] = "Medlemmer";
}
<h2>@ViewData["Title"] <span class="text-muted">(@Model.Users.Sum(p => p.Users.Count))</span></h2>
<hr>
<form class="form mb-3 d-print-none" asp-action="Index" method="GET">
    <div class="form-row align-items-center">
        <div class="col">
            <select class="custom-select" asp-for="MemberFilter" onchange="this.form.submit()">
                <option value="All">Alle</option>
                <option value="Only">&#x2713; Som har betalt medlemskap</option>
                <option value="Not">&#x2717; Som ikke har betalt medlemskap</option>
            </select>
        </div>
        <div class="col">
            <select class="custom-select" asp-for="TrainingFilter" onchange="this.form.submit()">
                <option value="All">Alle</option>
                <option value="Only">&#x2713; Som har betalt treningsavgift</option>
                <option value="Not">&#x2717; Som ikke har betalt treningsavgift</option>
            </select>
        </div>
        <div class="col">
            <select class="custom-select" asp-for="ClassesFilter" onchange="this.form.submit()">
                <option value="All">Alle</option>
                <option value="Only">&#x2713; Som har betalt for kurs</option>
                <option value="Not">&#x2717; Som ikke har betalt for kurs</option>
            </select>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th class="text-center"><abbr title="Medlemskap">M</abbr></th>
            <th class="text-center"><abbr title="Treningsavgift">T</abbr></th>
            <th class="text-center"><abbr title="Kurs">K</abbr></th>
            <th>Navn</th>
            <th>E-post</th>
        </tr>
    </thead>
    @foreach(var (character, users) in Model.Users){
        <thead class="thead-light">
            <tr>
                <th colspan="5" class="text-uppercase">@character</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in users){
                <tr>
                    <td class="font-weight-bold text-center text-success">@(user.HasPayedMembershipThisYear() ? "\u2713" : "" )</td>
                    <td class="font-weight-bold text-center text-success">@(user.HasPayedTrainingFeeThisSemester() ? "\u2713" : "" )</td>
                    <td class="font-weight-bold text-center text-success">@(user.HasPayedClassesFeeThisSemester() ? "\u2713" : "" )</td>
                    <td><a asp-action="Details" asp-route-id="@user.Id">@user.FullName</a></td>
                    <td>@user.Email</td>
                </tr>
            }
        </tbody>
    }
</table>