@using MemberService.Data.ValueTypes
@model MemberService.Components.SemesterHeader.SemesterHeaderViewComponent.Model

<div class="overflow-container dark-tabs" style="background: #cbd3d9;">
    <h2 class="d-flex justify-content-between">
        <a class="link-unstyled" asp-controller="Semester" asp-action="Index" asp-route-id="@Model.Id">@Model.Title</a>

        <div class="btn-group">
            @if (User.IsInAnyRole(Roles.COORDINATOR, Roles.ADMIN))
            {
                <a class="btn btn-secondary" asp-controller="Semester" asp-action="Edit">Rediger</a>
                <a class="btn btn-secondary" asp-controller="Questions" asp-action="Edit" asp-route-semesterId="@Model.Id">Spørsmål</a>
            }
            <a class="btn btn-secondary" asp-controller="Questions" asp-action="Index" asp-route-semesterId="@Model.Id">Svar</a>
        </div>
    </h2>

    <ul class="nav nav-tabs flex-column flex-md-row pt-3 mb-0 overflow-container">
        @foreach (var ev in Model.Events)
        {
            <li class="nav-item">
                <a class="nav-link" highlight-active highlight-active-when="id" asp-controller="Event" asp-action="View" asp-route-id="@ev.Id">@ev.Title</a>
            </li>
        }

        @if (User.IsInAnyRole(Roles.COORDINATOR, Roles.ADMIN))
        {
            <li class="nav-item">
                <a class="nav-link text-success" highlight-active highlight-active-when="controller action" asp-controller="Event" asp-action="Create" asp-route-semesterId="@Model.Id">+ Nytt kurs</a>
            </li>
        }
    </ul>
</div>