@model MemberService.Components.ExternalLogin.ExternalLogin.Model

@if (Model.ExternalLogins?.Count > 0)
{
    <form id="external-account" asp-controller="ExternalLogin" asp-action="Index" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
        <p>@Localizer["Har du problemer med innloggingen? Prøv heller med å trykke på en av knappene under"]</p>
        <div class="text-center">
            @foreach (var provider in Model.ExternalLogins)
            {
                <button type="submit" class="btn btn-block signin-@provider.Name mb-2" name="provider" value="@provider.Name" title="@Localizer["Logg inn med din {0} konto", provider.DisplayName]">
                    <span>
                        @Localizer["Logg inn med {0}", provider.DisplayName]
                    </span>
                </button>
            }
        </div>
    </form>
}