@model IEnumerable<Payment>

<div class="card">
    <h3 class="card-header">
        Betalinger
    </h3>
        <table class="table card-body">
            <thead>
                <tr>
                    <th>Dato</th>
                    <th>Beskrivelse</th>
                    <th>Beløp</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var payment in Model){
                    <tr class="@(payment.Refunded ? "line-through" : "")">
                        <td>
                            @if(User.IsInRole(Roles.ADMIN))
                            {
                                <a href="https://dashboard.stripe.com/payments/@payment.StripeChargeId" target="_blank">
                                    @payment.PayedAt
                                </a>
                            }
                            else
                            {
                                @payment.PayedAt
                            }
                        </td>
                        <td>@payment.Description</td>
                        <td>@payment.Amount.FormatMoney()</td>
                    </tr>
                }
            </tbody>
        </table>
</div>