@using MemberService.Auth.Requirements
@using MemberService.Data.ValueTypes
<!DOCTYPE html>
<html lang="nb">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bårdar Swing Club</title>

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Voltaire" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/bootstrap-icons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body class="@ViewData["BodyClass"]">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark shadow">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo.png">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row">
                    @{
                        var dividerNeeded = false;
                    }
                    <ul class="navbar-nav flex-grow-1">
                        @if (await AuthorizationService.IsAuthorized(User, Policy.CanViewMembers))
                        {
                            dividerNeeded = true;
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-page="/Members/Index">Medlemmer</a>
                            </li>
                        }
                        @if (await AuthorizationService.IsAuthorized(User, Policy.CanViewSemester))
                        {
                            dividerNeeded = true;
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Semester" asp-action="Index">Kurs</a>
                            </li>
                        }
                        @if (await AuthorizationService.IsAuthorized(User, Policy.CanListEvents))
                        {
                            dividerNeeded = true;
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-page="/Event/Index">Arrangementer</a>
                            </li>
                        }
                        @if (await AuthorizationService.IsAuthorized(User, Policy.CanListPayments))
                        {
                            dividerNeeded = true;
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-page="/Payments/Index">Betalinger</a>
                            </li>
                        }
                        @if (User.IsAdministrator())
                        {
                            dividerNeeded = true;
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-controller="Admin" asp-action="Index">Admin</a>
                            </li>
                        }
                    </ul>
                    @if (dividerNeeded)
                    {
                        <div class="dropdown-divider"></div>
                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="@(ViewData["ContainerClass"] ?? "container") pb-5 pt-3">
        <partial name="_StatusMessage" />

        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-light">
        <div class="container">
            &copy; 2022 - Bårdar Swing Club | <a asp-page="/Account/Privacy">Privacy Policy</a> | <a asp-page="/Account/Salgsbetingelser">Salgsbetingelser</a> | Organisasjonsnummer: 984 120 435
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @RenderSection("Scripts", required: false)
</body>

</html>
