@using MemberService.Components.SurveyResponse
@using MemberService.Data.ValueTypes
@model SurveyResponse.Model

@for (var i=0; i < Model.Questions.Count; i++)
{
    if (i != 0)
    {
        <hr />
    }

    var question = Model.Questions[i];
    <h4>@question.Title</h4>
    <span data-valmsg-for="Input.Answers[@i].Selected" data-valmsg-replace="true" class="text-danger">
        @ViewData.ModelState.GetValueOrDefault($"Input.Answers[{i}].Selected")
    </span>
    <p>@question.Description</p>
    <input type="hidden" name="Input.Answers[@i].QuestionId" value="@question.Id"/>

    @foreach (var option in question.Options)
    {
        <div class="form-check">
            @if (question.Type == QuestionType.CheckBox)
            {
                <input
                    onclick="@(Model.Disabled ? "return false" : "")"
                    class="form-check-input"
                    type="checkbox"
                    name="Input.Answers[@i].Selected"
                    value="@option.Id"
                    id="@option.Id"
                    checked="@option.Checked"/>
            }
            else if (question.Type == QuestionType.Radio)
            {
                <input
                    onclick="@(Model.Disabled ? "return false" : "")"
                    class="form-check-input"
                    type="radio"
                    name="Input.Answers[@i].Selected"
                    value="@option.Id"
                    id="@option.Id"
                    data-val="true"
                    data-val-required="Velg et av alternativene"
                    checked="@option.Checked"/>
            }
            <label class="form-check-label" for="@option.Id">@option.Title</label>
            <small class="text-muted form-text">@option.Description</small>
        </div>
    }
}