@using MemberService.Data.ValueTypes
@model QuestionModel

@{
    ViewData["ContainerClass"] = "container-fluid";
    ViewData["Title"] = Model.Title;
    var title = Model.Title;
    var options = Model.Options;
}
<div>
    <a asp-controller="AnnualMeeting" asp-action="Index">Tilbake til møtet</a>
</div>

<div class="card-columns card-columns-2">
    <form method="post" asp-controller="Questions" asp-action="Save" asp-route-id="@Model.MeetingId" asp-route-questionId="@Model.Id" class="card mb-5">
        <div class="card-header">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" asp-for="@title">Spørsmål</label>
                <div class="col-sm-10">
                    <input class="form-control" asp-for="@title">
                </div>
            </div>
            <small class="text-muted">
                <input type="@Model.Type" checked onclick="return false" />
                @Model.Type.DisplayName()
            </small>
        </div>
        <ul class="list-group list-group-flush">
            @for (var i = 0; i < options.Count; i++)
            {
                <li class="list-group-item">
                    <h5 class="d-flex justify-content-between">
                        <span>
                            <input type="@Model.Type" checked onclick="return false" />
                            Alternativ @(i + 1)
                        </span>
                        <button type="submit" name="options[@i].Action" value="delete" class="btn btn-outline-danger">Fjern</button>
                    </h5>
                    <input type="hidden" asp-for="@options[i].Id" />
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label" asp-for="@options[i].Title"></label>
                        <div class="col-sm-9">
                            <input class="form-control" asp-for="@options[i].Title">
                        </div>
                    </div>
                </li>
            }
        </ul>
        <div class="card-body">
            <button type="submit" class="btn btn-outline-success" name="action" value="add-option">Legg til nytt svaralternativ</button>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <button type="submit" class="btn btn-success">Lagre</button>
            <button type="submit" class="btn btn-outline-danger" name="action" value="delete">Slett</button>
        </div>
    </form>
</div>