@model QuestionsModel

@{
    Layout = "../_Layout.cshtml";
    ViewData["Title"] = Model.EventTitle;
    ViewData["Description"] = Model.EventDescription;
    ViewData["Id"] = Model.EventId;
    ViewData["Selected"] = "answers";
}

@if (Model.Questions.NotAny())
{
    <div class="alert alert-info">
        <h5 class="alert-heading">
            Ingeng spørsmål
        </h5>
        <p>
            Legg til spørsmål for å få svar
        </p>
    </div>
}

@foreach(var question in Model.Questions)
{
    <div class="card mb-5">
        <div class="card-header">
            <h5 class="card-title">@question.Title</h5>
            <h6>@question.Description</h6>
            <small class="text-muted">@question.Type.DisplayName()</small>
        </div>
        <ul class="list-group list-group-flush">
            @foreach(var option in question.Options)
            {
                <li class="list-group-item">
                    <h5 class="d-flex">
                        <span>
                            <input type="@question.Type" checked onclick="return false" />
                            @option.Title
                        </span>
                    </h5>
                    <p>@option.Description</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: @(option.SelectedBy.Count * 100f / Model.Signups)%;" aria-valuenow="@option.SelectedBy.Count" aria-valuemin="0" aria-valuemax="@Model.Signups">@option.SelectedBy.Count</div>
                    </div>
                    @if (option.SelectedBy.Any())
                    {
                        <details>
                            <summary>Se hvem</summary>
                            <ul>
                                @foreach (var signup in option.SelectedBy)
                                {
                                    <li>
                                        <a asp-controller="Members" asp-action="Details" asp-route-id="@signup.Id" target="_blank">@signup.Name</a>
                                        <span class="badge badge-primary">
                                            @signup.Status.DisplayName()
                                        </span>
                                    </li>
                                }
                            </ul>
                        </details>
                    }
                </li>
            }
        </ul>
        <div class="card-footer d-flex justify-content-between">
        </div>
    </div>
}
