@page
@model MemberService.Pages.Account.LoginModel

@{
    ViewData["Title"] = Localizer["Logg inn / bli medlem"].Value;
    Layout = "~/Pages/_CoverLayout.cshtml";
}

<div class="card mt-5 shadow">
    <h3 class="card-header">
        @Localizer["Logg inn / bli medlem"]
    </h3>
    <div class="card-body">
        <form method="post">
            <input type="hidden" asp-for="Input.ReturnUrl">
            <span asp-validation-summary="All" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" placeholder="epost@eksempel.no" autofocus />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success btn-block">@Localizer["Gå videre"] &#x27a4;</button>
        </form>
        <hr />
        <vc:external-login return-url="@Model.Input.ReturnUrl"></vc:external-login>
        <hr />
        @Localizer["Du kan lese om hva vi samler av informasjon om deg"] <a asp-page="/Account/Privacy">@Localizer["her"]</a>.
    </div>
</div>

