@page
@model MemberService.Pages.Account.LoginModel

@{
    ViewData["Title"] = Localizer["Logg inn / bli medlem"].Value;
    Layout = "~/Pages/_CoverLayout.cshtml";
}

<div class="card mt-5 shadow">
    <h3 class="card-header">
        @Localizer["Logg inn / bli medlem"]
    </h3>
    <div class="card-body">
        <form method="post">
            <input type="hidden" asp-for="Input.ReturnUrl">

            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger" role="alert">
                    @foreach (var kvp in ViewData.ModelState)
                    {
                        foreach (var error in kvp.Value.Errors)
                        {
                            <div style="color: red;">
                                @error.ErrorMessage
                            </div>
                        }
                    }
                    <span asp-validation-summary="All"></span>
                </div>
            }

            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" placeholder="epost@eksempel.no" autofocus />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="g-recaptcha" data-sitekey="@Model.SiteKey"></div>
            <button type="submit" class="btn btn-success btn-block">@Localizer["Gå videre"] &#x27a4;</button>
        </form>
        <hr />
        <vc:external-login return-url="@Model.Input.ReturnUrl"></vc:external-login>
        <hr />
        @Localizer["Du kan lese om hva vi samler av informasjon om deg"] <a asp-page="/Account/Privacy">@Localizer["her"]</a>.
    </div>
</div>

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}
