@using MemberService.Pages.Home
@model ClassModel

<div class="list-group-item non-sortable" data-id="@Model.Id">
    <input type="hidden" name="classes[]" value="@Model.Id" />
    <input type="hidden" name="roles[]" value="@Model.Signup.Role" />
    <input type="hidden" name="partners[]" value="@Model.Signup.PartnerEmail" />

    <div class="d-block">
        <h4 class="d-inline-block priority">@Model.Title</h4>

        <div class="text-danger">&#x2717; Du har ikke fått plass på dette kurset</div>
    </div>
</div>