@using MemberService.Pages.Home
@model ClassModel

<div class="list-group-item non-sortable" data-id="@Model.Id">
    <input type="hidden" name="classes[]" value="@Model.Id" />
    <input type="hidden" name="roles[]" value="@Model.Signup.Role" />
    <input type="hidden" name="partners[]" value="@Model.Signup.PartnerEmail" />

    <div class="d-block">
        <h4 class="d-inline-block priority">@Model.Title</h4>

        <div class="alert alert-success">
            <p>
                @if (Model.RoleSignup)
                {
                    @if (Model.AllowPartnerSignup && !string.IsNullOrEmpty(Model.Signup.PartnerEmail))
                    {
                        @: Du har fått plass som <strong>@Model.Signup.Role.DisplayName().ToLower()</strong> sammen med <strong>@Model.Signup.PartnerEmail</strong>!
                    }
                    else
                    {
                        @: Du har fått plass som <strong>@Model.Signup.Role.DisplayName().ToLower()</strong>!
                    }
                }
                else
                {
                    @: Du har fått plass!
                }
            </p>

            <a asp-controller="Signup" asp-action="Event" asp-route-id="@Model.Id" class="btn btn-success btn-block mt-3 mb-1">Godta plass</a>
        </div>
    </div>
</div>