@using MemberService.Pages.Home
@model ClassModel

<div class="list-group-item non-sortable" data-id="@Model.Id">
    <input type="hidden" name="classes[]" value="@Model.Id" />
    <input type="hidden" name="roles[]" value="@Model.Signup.Role" />
    <input type="hidden" name="partners[]" value="@Model.Signup.PartnerEmail" />

    <div class="d-block">
        <h4 class="d-inline-block priority">@Model.Title</h4>

        <div class="text-muted">
            @if (Model.RoleSignup)
            {
                @if (Model.AllowPartnerSignup && !string.IsNullOrEmpty(Model.Signup.PartnerEmail))
                {
                    <span style="color: #0a0">&#x2713;</span> @: Deltar på kurset som <strong>@Model.Signup.Role.DisplayName().ToLower()</strong> sammen med <strong>@Model.Signup.PartnerEmail</strong>.
                }
                else
                {
                    <span style="color: #0a0">&#x2713;</span> @: Deltar på kurset som <strong>@Model.Signup.Role.DisplayName().ToLower()</strong>.
                }
            }
            else
            {
                <span style="color: #0a0">&#x2713;</span> @: Deltar på kurs på kurset
            }
        </div>
    </div>
</div>