@using MemberService.Pages.Home
@model ClassSignupModel

<div class="list-group-item">

    <div class="d-block">
        <h4 class="d-inline-block priority">@Model.Title</h4>

        <div class="text-muted">
            @if (Model.RoleSignup)
            {
                @if (Model.AllowPartnerSignup && !string.IsNullOrEmpty(Model.PartnerEmail))
                {
                    @: Påmeldt som <strong>@Model.Role.DisplayName().ToLower()</strong> sammen med <strong>@Model.PartnerEmail</strong>.
                }
                else
                {
                    @: Påmeldt som <strong>@Model.Role.DisplayName().ToLower()</strong> uten partner.
                }

                <a asp-controller="Signup" asp-action="edit" asp-route-id="@Model.EventId">Endre?</a>
            }
            else
            {
                @: Påmeldt.
            }
        </div>
    </div>
</div>