@using MemberService.Data.ValueTypes
@model SignupModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Pages/_CoverLayout.cshtml";
}

@if (!string.IsNullOrWhiteSpace(Model.SignupHelpText))
{
    <div class="card shadow mt-5">
        <div class="card-body markdown">
            @Html.Markdown(Model.SignupHelpText)
        </div>
    </div>
}

<form method="post" class="card shadow mt-5" id="courses-form">
    <h2 class="card-header text-center">
        Meld deg på kurs
    </h2>

    <div class="list-group list-group-flush priority-group sortable">
        @foreach (var item in Model.Courses)
        {
            @if (item.Signup is CourseSignupModel signup)
            {
                <div class="list-group-item" data-id="@item.Id">
                    <input type="hidden" name="classes[]" value="@item.Id" />
                    <input type="hidden" name="roles[]" value="@signup.Role" />
                    <input type="hidden" name="partners[]" value="@signup.PartnerEmail" />
                    @if (Model.Sortable)
                    {
                        <div class="sort-drag" style="background-image: url('/img/reorder.svg'); background-size: 20px; background-position: right; background-repeat: no-repeat">
                            <h4 class="d-inline-block priority">@item.Title</h4>
                        </div>
                    }
                    else
                    {
                        <h4 class="d-inline-block priority">@item.Title</h4>
                    }

                    @switch (signup.Status)
                    {
                        case Status.AcceptedAndPayed:
                            <partial name="_signupAccepted" model="signup" />
                            break;
                        case Status.Approved:
                            <partial name="_signupApproved" model="signup" />
                            break;
                        case Status.Denied:
                        case Status.RejectedOrNotPayed:
                            <partial name="_signupRejected" model="signup" />
                            break;
                        case Status.Pending:
                            <partial name="_signupEdit" model="signup" />
                            break;
                        case Status.WaitingList:
                            <partial name="_signupWaiting" model="signup" />
                            break;
                        default:
                            <partial name="_signupInfo" model="signup" />
                            break;
                    }
                </div>
            }
            else
            {
                <partial name="_signupAdd" model="item" />
            }
        }
    </div>
    @if (Model.OpenedClasses.Any())
    {
        <div class="card-body">
            <div class="input-group">
                <select class="custom-select" id="class-select">
                    <option value="" selected disabled>Velg kurs du har lyst til å delta på</option>
                    @foreach (var item in Model.OpenedClasses)
                    {
                        <option value="@item.Id" disabled=@item.HasClosed>
                            @item.Title
                            @if (item.HasClosed)
                            {
                                @:(Påmelding stengt)
                            }
                        </option>
                    }
                </select>
            </div>
        </div>

        <div class="card-footer">
            <ul>
                <li>Har du lagt til alle kursene du vil delta på?</li>
                <li>Har du lagt kursene i prioritert rekkefølge?</li>
            </ul>

            <button type="submit" class="btn btn-success btn-block">Ja, jeg er ferdig!</button>
        </div>
    }
    else if (Model.Sortable)
        {
            <div class="card-footer">
                <p>Du kan ikke melde deg på flere kurs, men du kan endre rekkefølgen på dem</p>
                <button type="submit" class="btn btn-success btn-block">OK, jeg er ferdig!</button>
            </div>
        } else {
            <div class="card-body">
                <p class="text-center text-muted font-italic">
                    Det finnes ingen @(Model.Courses.Any() ? "flere" : "") kurs du kan melde deg på
                </p>
            </div>
    }
    <div class="card-footer text-center">
        <a asp-page="/Home/Fees">Jeg vil ikke gå kurs, jeg vil bare bli medlem</a>
    </div>
</form>

@section Scripts {
    <script src="~/js/sortable.js"></script>
    <script>
        $(function () {
            var sortableGroup = sortable('.sortable', {
                items: ':not(.non-sortable)',
                placeholder: '<div class="list-group-item bg-light pt-1 pb-1"><div class="lead text-center">Endre prioritet på kurset</div></div>',
                handle: '.sort-drag'
                //placeholderClass: 'none'
            });

            var select = $("#class-select");

            function addClass(e) {

                // get the id of the selected class
                var id = select.val();

                // set the value back to nothing
                select.val("");

                // disable the selected class in the <select> so that we can't add it again
                select.find("option[value=" + id + "]").prop("disabled", true);

                // find the input group for the selected class
                var group = $("[data-id=" + id + "]");

                // move last
                group.parent().append(group);

                // make it visible
                group.removeAttr("data-hidden");

                // enable everything inside the group so they are submitted to the server
                group.find("input, select").prop("disabled", false);
            }

            select.on('change', addClass);

            $("[data-action=remove]").on('click', function (e) {
                // find the input group to remove
                var group = $(this).parents("[data-id]");

                // hide the group
                group.attr("data-hidden", "");

                // disable everything inside the group, so we don't submit it to the server
                group.find("input, select").prop("disabled", true);

                // get the id of the class
                var id = group.attr("data-id");

                // enable the select option again
                $("option[value=" + id + "]").prop("disabled", false);
            });
        })
    </script>
}
