@using MemberService.Pages.Home
@model IndexViewModel
@inject Config Config

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Hei @Model.User.FullName</h2>
    @if(Model.MembershipFee == null)
    {
        <p>Du er medlem i år</p>
    }
    else
    {
        <p>Du har ikke betalt medlemsavgift for i år. Trykk på knappen under for å betale @Model.MembershipFee.Amount,- i medlemsavgift. </p>
        <form asp-controller="Home" asp-action="Pay" method="post">
            <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="@Config.Stripe.PublicKey"
                data-amount="@Model.MembershipFee.AmountInCents"
                data-name="Bårdar Swing Club"
                data-description="@Model.MembershipFee.Description"
                data-image="/img/logo.png"
                data-locale="no"
                data-zip-code="false"
                data-currency="nok"
                data-email="@Model.User.Email"
                data-label="Bli medlem"
                data-allowRememberMe="false">
            </script>
        </form>
    }
</div>
