@using MemberService.Pages.Home
@using MemberService.Services
@model IndexViewModel
@inject Config Config

@{
    ViewData["Title"] = "Home Page";
    ViewData["BodyClass"] = "cover";
}

<div class="card-deck text-center">
    <div class="card shadow-sm">
        <h3 class="card-header">
            Medlemskap
        </h3>
        <div class="card-body">
            @if (Model.MembershipFee.Status == FeeStatus.Paid)
            {
                <h2 class="font-weight-bold"><span style="color: #0a0">&#x2713;</span> Betalt</h2>
            }
            else if (Model.MembershipFee.Status == FeeStatus.Unpayable)
            {
                <h2 class="font-weight-bold">Fritatt</h2>
            }
            else
            {
                <h2 class="font-weight-bold">@Model.MembershipFee.Fee.Amount,-</h2>
            }
            <small class="text-muted text-uppercase">per kalenderår</small>
            <p>
                Rabatt på klubbens arrangementer. Tilgang til å melde seg på på ekstraordinære kurs mot betaling.
            </p>
        </div>
        @if(Model.MembershipFee.Fee is Fee membershipFee)
        {
            <form class="card-footer" asp-controller="Home" asp-action="Pay" method="post">
                <input type="hidden" name="Fee" value="@Fee.Membership" />
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="@Config.Stripe.PublicKey"
                    data-amount="@membershipFee.AmountInCents"
                    data-name="Bårdar Swing Club"
                    data-description="@membershipFee.Description"
                    data-image="/img/logo.png"
                    data-locale="no"
                    data-zip-code="false"
                    data-currency="nok"
                    data-email="@Model.Email"
                    data-label="Bli medlem"
                    data-allowRememberMe="false">
                </script>
            </form>
        }
    </div>

    <div class="card shadow-sm">
        <h3 class="card-header">
            Treningsavgift
        </h3>
        <div class="card-body">
            @if (Model.TrainingFee.Status == FeeStatus.Paid)
            {
                <h2 class="font-weight-bold"><span style="color: #0a0">&#x2713;</span> Betalt</h2>
            }
            else if (Model.TrainingFee.Status == FeeStatus.Unpayable)
            {
                <h2 class="font-weight-bold">Fritatt</h2>
            }
            else
            {
                <h2 class="font-weight-bold">@Model.TrainingFee.Fee.Amount,-</h2>
            }
            <small class="text-muted text-uppercase">per semester</small>
            <p>
                Tilgang til klubbens egentreningstider.
                @if (Model.MembershipFee.Status == FeeStatus.Unpaid)
                {
                    @:Prisen inkluderer obligatorisk medlemskap.
                }
            </p>
        </div>
        @if(Model.TrainingFee.Fee is Fee trainingFee)
        {
            <form class="card-footer" asp-controller="Home" asp-action="Pay" method="post">
                <input type="hidden" name="Fee" value="@Fee.Training" />
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="@Config.Stripe.PublicKey"
                    data-amount="@trainingFee.AmountInCents"
                    data-name="Bårdar Swing Club"
                    data-description="@trainingFee.Description"
                    data-image="/img/logo.png"
                    data-locale="no"
                    data-zip-code="false"
                    data-currency="nok"
                    data-email="@Model.Email"
                    data-label="Betal treningsavgift"
                    data-allowRememberMe="false">
                </script>
            </form>
        }
    </div>

    <div class="card shadow-sm">
        <h3 class="card-header">
            Kurs
        </h3>
        <div class="card-body">
            @if (Model.ClassesFee.Status == FeeStatus.Paid)
            {
                <h2 class="font-weight-bold"><span style="color: #0a0">&#x2713;</span> Betalt</h2>
            }
            else if (Model.ClassesFee.Status == FeeStatus.Unpayable)
            {
                <h2 class="font-weight-bold">Fritatt</h2>
            }
            else
            {
                <h2 class="font-weight-bold">@Model.ClassesFee.Fee.Amount,-</h2>
            }
            <small class="text-muted text-uppercase">per semester</small>
            <p>
                Tilgang til alle klubbens ordinære kurs, så lenge det er plass.
                @if (Model.ClassesFee.Status == FeeStatus.Unpayable)
                {
                    @:
                }
                else if (Model.TrainingFee.Status == FeeStatus.Unpaid && Model.MembershipFee.Status == FeeStatus.Unpaid)
                {
                    @:Prisen inkluderer obligatorisk medlemskap og treningsavgift.
                }
                else if (Model.MembershipFee.Status == FeeStatus.Unpaid)
                {
                    @:Prisen inkluderer obligatorisk medlemskap.
                }
                else if (Model.TrainingFee.Status == FeeStatus.Unpaid)
                {
                    @:Prisen inkluderer treningsavgift.
                }
            </p>
        </div>
        @if(Model.ClassesFee.Fee is Fee classesFee)
        {
            <form class="card-footer" asp-controller="Home" asp-action="Pay" method="post">
                <input type="hidden" name="Fee" value="@Fee.Training" />
                <script
                    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="@Config.Stripe.PublicKey"
                    data-amount="@classesFee.AmountInCents"
                    data-name="Bårdar Swing Club"
                    data-description="@classesFee.Description"
                    data-image="/img/logo.png"
                    data-locale="no"
                    data-zip-code="false"
                    data-currency="nok"
                    data-email="@Model.Email"
                    data-label="Betal kursavgift"
                    data-allowRememberMe="false">
                </script>
            </form>
        }
    </div>
</div>
