@page
@using MemberService.Data.ValueTypes
@model IndexModel
@{
    ViewData["Title"] = "Min profil";
    ViewData["BodyClass"] = "cover";
}

@using System.ComponentModel.DataAnnotations
@using System.Reflection

<div class="card-columns card-columns-2">
    <div class="card shadow-sm">
        <h3 class="card-header">
            Hvem er du?
        </h3>
        <form class="card-body" method="post">
            <span asp-validation-summary="All" class="text-danger"></span>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="UpdateUser.FullName"></label>
                <input asp-for="UpdateUser.FullName" class="form-control" />
                <span asp-validation-for="UpdateUser.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateUser.FriendlyName"></label>
                <input asp-for="UpdateUser.FriendlyName" class="form-control" />
                <span class="text-muted text-small">Vi kommer til å bruke dette navnet på kurs og arrangementer</span>
                <span asp-validation-for="UpdateUser.FriendlyName" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-success btn-block">Lagre</button>
        </form>
    </div>

    <vc:semester-history user-id=@Model.UserId />

    <div class="card shadow-sm">
        <h3 class="card-header">
            Arrangementer
        </h3>
        @if (Model.EventSignups.Any())
        {
            <table class="table card-body">
                <thead>
                    <tr>
                        <th>Dato</th>
                        <th>Arrangement</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var signup in Model.EventSignups)
                    {
                        <tr>
                            <td>
                                <abbr title="@signup.SignedUpAt.ToOsloDateTime()">@signup.SignedUpAt.ToOsloDate()</abbr>
                            </td>
                            <td>
                                <a asp-controller="Signup" asp-action="Event" asp-route-id="@signup.EventId">@signup.Title</a>
                                @if (signup.Role is not DanceRole.None)
                                {
                                    @: som @signup.Role.DisplayName().ToLower()
                                }
                            </td>
                            <td>
                                @signup.Status.DisplayDescription()
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="card-body text-center">
                <em class="text-muted">
                    Du har ikke meldt deg på noe ennå
                </em>
            </div>
        }
    </div>
    <div class="card shadow-sm">
        <h3 class="card-header">
            Betalinger
        </h3>
        @if (Model.Payments.Any())
        {
            <table class="table card-body">
                <thead>
                    <tr>
                        <th>Dato</th>
                        <th>Beskrivelse</th>
                        <th>Beløp</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var payment in Model.Payments)
                    {
                        <tr class="@(payment.Refunded ? "line-through" : "")">
                            <td>
                                <abbr title="@payment.PayedAtUtc.ToOsloDateTime()">@payment.PayedAtUtc.ToOsloDate()</abbr>
                            </td>
                            <td>@payment.Description</td>
                            <td>@payment.Amount.FormatMoney()</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="card-body text-center">
                <em class="text-muted">
                    Du har ikke betalt for noe ennå
                </em>
            </div>
        }
    </div>
    <div class="card shadow-sm">
        <h3 class="card-header">
            Samtykker om sosiale medier
        </h3>

        @if (Model.ConsentRecords.NotAny())
        {
            <div class="card-body text-center">
                <em class="text-muted">
                    Ingen samtykker registrert
                </em>
            </div>
        }
        else
        {
            <table class="table card-body">
                <thead>
                    <tr>
                        <th>Dato</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var record in Model.ConsentRecords)
                    {
                        <tr>
                            <td class="text-nowrap">
                                @record.ChangedAtUtc.ToOsloDate()
                                <span class="text-muted text-small">
                                    @record.ChangedAtUtc.ToOsloTime()
                                </span>
                            </td>
                            <td>
                                @record.State.GetDisplayName()
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    <h4>Oppdater samtykke</h4>
    <form method="post" asp-page-handler="AddConsent">
        <div class="form-group">
            <label for="NewConsent.State">Samtykke</label>
            <select asp-for="NewConsent.State" class="form-control"
                    asp-items="Html.GetEnumSelectList<SomeConsentState>()">
                <option value="">-- Velg samtykke --</option>
            </select>
            <span asp-validation-summary="All" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Legg til</button>
    </form>

    </div>
</div>
