@using MemberService.Pages.Signup
@model EventsModel

@{
    ViewData["Title"] = "Arrangementer";
    Layout = "~/Pages/Shared/_CoverLayout.cshtml";
}

@if (Model.OpenEvents.Any())
{
    <div class="card shadow mb-5">
        <h3 class="card-header">
            Åpne påmeldinger
        </h3>
        <div class="list-group list-group-flush">
            @foreach (var signup in Model.OpenEvents)
            {
                <a class="list-group-item list-group-item-action" asp-controller="Signup" asp-action="Event" asp-route-id="@signup.Id" asp-route-slug="@signup.Title.Slugify()">
                    <h5 class="card-title">@signup.Title</h5>
                    <p class="card-text">@signup.Description</p>
                </a>
            }
        </div>
    </div>
}

@if (Model.FutureEvents.Any())
{
    <div class="card shadow">
        <h3 class="card-header">
            Kommende påmeldinger
        </h3>
        <div class="list-group list-group-flush">
            @foreach (var signup in Model.FutureEvents)
            {
                <a class="list-group-item list-group-item-action" asp-controller="Signup" asp-action="Event" asp-route-id="@signup.Id" asp-route-slug="@signup.Title.Slugify()">
                    <h5 class="card-title">@signup.Title</h5>
                    <p class="card-text">@signup.Description</p>
                    <small class="text-muted float-right">Åpner @signup.SignupOptions.SignupOpensAt.Value.ToOsloDate() klokken @signup.SignupOptions.SignupOpensAt.Value.ToOsloTime()</small>
                </a>
            }
        </div>
    </div>
}
