@using MemberService.Data.ValueTypes
@using MemberService.Pages.Signup
@model SignupModel

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Pages/_CoverLayout.cshtml";
}

<form method="POST" class="card shadow mt-5">
    <h3 class="card-header">
        @ViewData["Title"]
    </h3>
    <div class="card-body">
        <p class="lead">@Model.Description</p>
        <switch value=@Model.Requirement>
            <case value=@SignupRequirement.MustPayClassesFeeAndPrice>
                <div class="alert alert-info" role="alert">
                    <p>
                        Dette arrangementet er kun åpent for medlemmer som har betalt kursavgift.
                    </p>
                    <ul>
                        <li>Det koster <strong>@Model.PriceForMembers.FormatMoney()</strong> å delta</li>
                        <li>Kursavgiften koster <strong>@FeeCalculation.ClassesFee.FormatMoney()</strong> (dette semesteret).</li>
                    </ul>
                    <p>
                        Du kan melde deg på nå og betale først når du har fått plass.
                    </p>
                </div>
            </case>
            <case value=@SignupRequirement.MustPayClassesFee>
                <div class="alert alert-info" role="alert">
                    <p>
                        Dette arrangementet er kun åpent for medlemmer som har betalt kursavgift.
                    </p>
                    <ul>
                        <li>Kursavgiften koster <strong>@FeeCalculation.ClassesFee.FormatMoney()</strong> (dette semesteret).</li>
                    </ul>
                    <p>
                        Du kan melde deg på nå og betale først når du har fått plass.
                    </p>
                </div>
            </case>
            <case value=@SignupRequirement.MustPayTrainingFeeAndPrice>
                <div class="alert alert-info" role="alert">
                    <p>
                        Dette arrangementet er kun åpent for medlemmer som har betalt treningsavgift/kursavgift.
                    </p>
                    <ul>
                        <li>Det koster <strong>@Model.PriceForMembers.FormatMoney()</strong> å delta</li>
                        <li>Treningsavgiften koster <strong>@FeeCalculation.TrainingFee.FormatMoney()</strong> (dette semesteret).</li>
                    </ul>
                    <p>
                        Du kan melde deg på nå og betale først når du har fått plass.
                    </p>
                </div>
            </case>
            <case value=@SignupRequirement.MustPayTrainingFee>
                <div class="alert alert-info" role="alert">
                    <p>
                        Dette arrangementet er kun åpent for medlemmer som har betalt treningsavgift/kursavgift.
                    </p>
                    <ul>
                        <li>Treningsavgiften koster <strong>@FeeCalculation.TrainingFee.FormatMoney()</strong> (dette semesteret).</li>
                    </ul>
                    <p>
                        Du kan melde deg på nå og betale først når du har fått plass.
                    </p>
                </div>
            </case>
            <case value=@SignupRequirement.MustBeMemberAndPay>
                <div class="alert alert-info" role="alert">
                    <p>
                        Dette arrangementet er kun åpent for klubbens medlemmer.
                    </p>
                    <ul>
                        <li>Det koster <strong>@Model.PriceForMembers.FormatMoney()</strong> for medlemmer å delta</li>
                        <li>Medlemskap i klubbens koster <strong>@FeeCalculation.MembershipFee.FormatMoney()</strong> (ut året).</li>
                    </ul>
                    <p>
                        Du kan melde deg på nå og betale først når du har fått plass.
                    </p>
                </div>
            </case>
            <case value=@SignupRequirement.MustBeMember>
                <div class="alert alert-info" role="alert">
                    <p>
                        Dette arrangementet er kun åpent for klubbens medlemmer.
                    </p>
                    <ul>
                        <li>Medlemskap i klubbens koster <strong>@FeeCalculation.MembershipFee.FormatMoney()</strong> (ut året).</li>
                    </ul>
                    <p>
                        Du kan melde deg på nå og betale først når du har fått plass.
                    </p>
                </div>
            </case>
            <case value=@SignupRequirement.MustPayMembersPrice>
                <div class="alert alert-info" role="alert">
                    <p>
                        Det koster <strong>@Model.PriceForMembers.FormatMoney()</strong> for medlemmer å delta på dette arrangementet.
                    </p>
                    <p>
                        Du kan melde deg på nå og betale først når du har fått plass.
                    </p>
                </div>
            </case>
            <case value=@SignupRequirement.MustPayNonMembersPrice>
                <div class="alert alert-info" role="alert">
                    <p>
                        Det koster <strong>@Model.PriceForNonMembers.FormatMoney()</strong> å delta på dette arrangementet.
                    </p>
                    @if (Model.PriceForMembers < Model.PriceForNonMembers)
                    {
                        <ul>
                            <li>Medlemmer av Bårdar Swing Club betaler kun <strong>@Model.PriceForMembers.FormatMoney()</strong> for å delta!</li>
                            <li>Medlemskap koster <strong>@FeeCalculation.MembershipFee.FormatMoney()</strong> ut året og gir deg rabatt på dette og andre arrangementer.</li>
                        </ul>
                    }
                    <p>
                        Du kan melde deg på nå og betale først når du har fått plass.
                    </p>
                </div>
            </case>
        </switch>

        <partial name="_SignupResponse" model=Model />
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-success btn-block">Meld deg på</button>
    </div>
</form>
