@using MemberService.Data.ValueTypes
@using MemberService.Pages.Signup
@model SignupModel

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Pages/_CoverLayout.cshtml";
}

<form method="POST" class="card shadow mt-5">
    <h3 class="card-header">
        @ViewData["Title"]
    </h3>
    <div class="card-body">
        <p class="lead">@Model.Description</p>
        <switch value=@Model.Requirement>
            <case value=@SignupRequirement.MustPayClassesFeeAndPrice>
                <div class="alert alert-info" role="alert">
                    <p>
                        @Localizer["Dette arrangementet er kun åpent for medlemmer som har betalt kursavgift."]
                    </p>
                    <ul>
                        <li>@Localizer["Det koster <strong>{0}</strong> å delta", Model.PriceForMembers.FormatMoney()]</li>
                        <li>@Localizer["Kursavgiften koster <strong>{0}</strong> (dette semesteret).", FeeCalculation.ClassesFee.FormatMoney()]</li>
                    </ul>
                    <p>
                        @Localizer["Du kan melde deg på nå og betale først når du har fått plass."]
                    </p>
                </div>
            </case>
            <case value=@SignupRequirement.MustPayClassesFee>
                <div class="alert alert-info" role="alert">
                    <p>
                        @Localizer["Dette arrangementet er kun åpent for medlemmer som har betalt kursavgift."]
                    </p>
                    <ul>
                        <li>@Localizer["Kursavgiften koster <strong>{0}</strong> (dette semesteret).", FeeCalculation.ClassesFee.FormatMoney()]</li>
                    </ul>
                    <p>
                        @Localizer["Du kan melde deg på nå og betale først når du har fått plass."]
                    </p>
                </div>
            </case>
            <case value=@SignupRequirement.MustPayTrainingFeeAndPrice>
                <div class="alert alert-info" role="alert">
                    <p>
                        @Localizer["Dette arrangementet er kun åpent for medlemmer som har betalt treningsavgift/kursavgift."]
                    </p>
                    <ul>
                        <li>@Localizer["Det koster <strong>{0}</strong> å delta", Model.PriceForMembers.FormatMoney()]</li>
                        <li>@Localizer["Treningsavgiften koster <strong>{0}</strong> (dette semesteret).", FeeCalculation.TrainingFee.FormatMoney()]</li>
                    </ul>
                    <p>
                        @Localizer["Du kan melde deg på nå og betale først når du har fått plass."]
                    </p>
                </div>
            </case>
            <case value=@SignupRequirement.MustPayTrainingFee>
                <div class="alert alert-info" role="alert">
                    <p>
                        @Localizer["Dette arrangementet er kun åpent for medlemmer som har betalt treningsavgift/kursavgift."]
                    </p>
                    <ul>
                        <li>@Localizer["Treningsavgiften koster <strong>{0}</strong> (dette semesteret).", FeeCalculation.TrainingFee.FormatMoney()]</li>
                    </ul>
                    <p>
                        @Localizer["Du kan melde deg på nå og betale først når du har fått plass."]
                    </p>
                </div>
            </case>
            <case value=@SignupRequirement.MustBeMemberAndPay>
                <div class="alert alert-info" role="alert">
                    <p>
                        @Localizer["Dette arrangementet er kun åpent for klubbens medlemmer."]
                    </p>
                    <ul>
                        <li>@Localizer["Det koster <strong>{0}</strong> å delta", Model.PriceForMembers.FormatMoney()]</li>
                        <li>@Localizer["Medlemskap i klubbens koster <strong>{0}</strong> (ut året).", FeeCalculation.MembershipFee.FormatMoney()]</li>
                    </ul>
                    <p>
                        @Localizer["Du kan melde deg på nå og betale først når du har fått plass."]
                    </p>
                </div>
            </case>
            <case value=@SignupRequirement.MustBeMember>
                <div class="alert alert-info" role="alert">
                    <p>
                        @Localizer["Dette arrangementet er kun åpent for klubbens medlemmer."]
                    </p>
                    <ul>
                        <li>@Localizer["Medlemskap i klubbens koster <strong>{0}</strong> (ut året).", FeeCalculation.MembershipFee.FormatMoney()]</li>
                    </ul>
                    <p>
                        @Localizer["Du kan melde deg på nå og betale først når du har fått plass."]
                    </p>
                </div>
            </case>
            <case value=@SignupRequirement.MustPayMembersPrice>
                <div class="alert alert-info" role="alert">
                    <p>
                        @Localizer["Det koster <strong>{0}</strong> å delta", Model.PriceForMembers.FormatMoney()]
                    </p>
                    <p>
                        @Localizer["Du kan melde deg på nå og betale først når du har fått plass."]
                    </p>
                </div>
            </case>
            <case value=@SignupRequirement.MustPayNonMembersPrice>
                <div class="alert alert-info" role="alert">
                    <p>
                        @Localizer["Det koster <strong>{0}</strong> å delta", Model.PriceForNonMembers.FormatMoney()]
                    </p>
                    @if (Model.PriceForMembers < Model.PriceForNonMembers)
                    {
                        <ul>
                            <li>@Localizer["Medlemmer av Bårdar Swing Club betaler kun <strong>{0}</strong> for å delta!", Model.PriceForMembers.FormatMoney()]</li>
                            <li>@Localizer["Medlemskap koster <strong>{0}</strong> ut året og gir deg rabatt på dette og andre arrangementer.", FeeCalculation.MembershipFee.FormatMoney()]</li>
                        </ul>
                    }
                    <p>
                        @Localizer["Du kan melde deg på nå og betale først når du har fått plass."]
                    </p>
                </div>
            </case>
        </switch>

        <partial name="_SignupResponse" model=Model />
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-success btn-block">@Localizer["Meld deg på"]</button>
    </div>
</form>
