@using MemberService.Data.ValueTypes
@using MemberService.Pages.Signup
@model SignupModel

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Pages/_CoverLayout.cshtml";
    var options = Model.Options;
    var user = Model.User;
}

<div class="card shadow mt-5">
    <h3 class="card-header">
        @ViewData["Title"]
    </h3>
    <div class="card-body">
        <p class="lead">@Model.Description</p>

        @if (Model.UserEventSignup.Status == Status.WaitingList)
        {
            <div class="alert alert-info" role="alert">
                <h3 class="alert-heading">Du er på ventelisten</h3>
                <p>Det er veldig mange som ønsker å delta, og arrangementet er desverre fullt. Du er på ventelisten, så hvis noen gir fra seg plassen så kan du kanskje få plass likevel. Kryss fingrene!</p>
            </div>
        }
        else if (Model.UserEventSignup.Status == Status.AcceptedAndPayed)
        {
            <div class="alert alert-success" role="alert">
                <h3 class="alert-heading">Du har fått plass</h3>
                <p>Du har godtatt plassen og betalt alt som trengs for å delta, så nå er det ingenting mer å gjøre, bare å glede seg!</p>
            </div>
        }
        else if (Model.UserEventSignup.Status == Status.RejectedOrNotPayed)
        {
            <div class="alert alert-warning" role="alert">
                <h3 class="alert-heading">Du har takket nei til denne plassen</h3>
                <p>Du har takket nei til denne plassen.</p>
            </div>
        }
        else if (Model.UserEventSignup.Status == Status.Denied)
        {
            <div class="alert alert-warning" role="alert">
                <h3 class="alert-heading">Du har mistet plassen din</h3>
                <p>Du har ikke lenger plass på dette arrangementet.</p>
            </div>
        }
        else
        {
            <div class="alert alert-info" role="alert">
                <h3 class="alert-heading">Du er påmeldt</h3>
                <p>Du vil få beskjed når vi har tildelt plassene.</p>
            </div>
            @if (Model.Options.RoleSignup)
            {
                <p>
                    Du er påmeldt som <strong>@Role(Model.UserEventSignup.Role)</strong>
                    @if (Model.Options.AllowPartnerSignup)
                    {
                        if (string.IsNullOrWhiteSpace(Model.UserEventSignup.PartnerEmail))
                        {
                            @:uten partner.
                        }
                        else
                        {
                            @:sammen med <strong>@Model.UserEventSignup.PartnerEmail</strong>.
                        }
                    }
                </p>
            }

            @for (var i = 0; i < Model.Questions.Count; i++)
            {
                if (i != 0)
                {
                    <hr />
                }

                var question = Model.Questions[i];
                <h4>@question.Title</h4>
                <p>@question.Description</p>

                @foreach (var option in question.Options)
                {
                    <div class="form-check">
                        @if (question.Type == QuestionType.CheckBox)
                        {
                            <input class="form-check-input" onclick="return false" type="checkbox" checked="@(Model.UserEventSignup.Answers.Any(a => a.OptionId == option.Id))" />
                        }
                        else if (question.Type == QuestionType.Radio)
                        {
                            <input class="form-check-input" onclick="return false" type="radio" checked="@(Model.UserEventSignup.Answers.Any(a => a.OptionId == option.Id))" />
                        }
                        <label class="form-check-label">@option.Title</label>
                        <small class="text-muted form-text">@option.Description</small>
                    </div>
                }
            }

            @if (Model.Options.RoleSignup || Model.Questions.Any())
            {
                <div class="text-center">
                    <a asp-controller="Signup" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary">Rediger påmelding</a>
                </div>
            }
        }
    </div>
</div>

@functions{
    string Role(DanceRole role)
    {
        switch (role)
        {
            case DanceRole.Follow:
                return "følger";
            case DanceRole.Lead:
                return "fører";
            default:
                return "ingenting";
        }
    }
}