@using MemberService.Data.ValueTypes
@using MemberService.Pages.Signup
@model StatusModel

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Pages/_CoverLayout.cshtml";
}

<div class="card shadow mt-5">
    <h3 class="card-header">
        @ViewData["Title"]
    </h3>
    <div class="card-body">
        <p class="lead">@Model.Description</p>

        @if (Model.IsCancelled)
        {
            <div class="alert alert-warning" role="alert">
                <h3 class="alert-heading">Avlyst</h3>
                <p>@Model.Title har blitt avlyst</p>
            </div>

            @if(!Model.IsArchived && Model.Status == Status.AcceptedAndPayed && Model.Refunded == false)
            {
                <div class="alert alert-info" role="alert">
                    <h3 class="alert-heading">Vil du ha refundert betalingen?</h3>
                    <p>Du vil få refundert hele beløpet du har betalt</p>

                    <form asp-action="refund" asp-route-id="@Model.Id" method="POST">
                        <button type="submit" class="btn btn-outline-danger btn-block text-center">Jeg vil ha refundert betalingen</button>
                    </form>
                </div>
            }
        }
        else if (Model.Status == Status.WaitingList)
        {
            <div class="alert alert-info" role="alert">
                <h3 class="alert-heading">Du er på ventelisten</h3>
                <p>Det er veldig mange som ønsker å delta, og arrangementet er desverre fullt. Du er på ventelisten, så hvis noen gir fra seg plassen så kan du kanskje få plass likevel. Kryss fingrene!</p>
            </div>
        }
        else if (Model.Status == Status.AcceptedAndPayed)
        {
            <div class="alert alert-success" role="alert">
                <h3 class="alert-heading">Du har fått plass</h3>
                <p>Du har godtatt plassen og betalt alt som trengs for å delta, så nå er det ingenting mer å gjøre, bare å glede seg!</p>
            </div>

            @if (!Model.IsArchived)
            {
                <details>
                    <summary>Jeg kan ikke delta likevel</summary>
                <div class="alert alert-info" role="alert">
                    <h3 class="alert-heading">Vil du ikke ha plassen din?</h3>
                    <p>Du kan melde deg av hvis du vil, men du vil ikke få refundert betalingen</p>

                    <form asp-action="acceptOrReject" asp-route-id="@Model.Id" method="POST">
                        <button type="submit" name="accept" value="false" class="btn btn-outline-danger btn-block text-center">Jeg melder meg av</button>
                    </form>
                </div>
            </details>
            }
        }
        else if (Model.Status == Status.RejectedOrNotPayed)
        {
            <div class="alert alert-warning" role="alert">
                <h3 class="alert-heading">Du har takket nei til denne plassen</h3>
                <p>Du har takket nei til denne plassen.</p>
            </div>
        }
        else if (Model.Status == Status.Denied)
        {
            <div class="alert alert-warning" role="alert">
                <h3 class="alert-heading">Du har mistet plassen din</h3>
                <p>Du har ikke lenger plass på dette arrangementet.</p>
            </div>
        }
        else
        {
            <div class="alert alert-info" role="alert">
                <h3 class="alert-heading">Du er påmeldt</h3>
                <p>Du vil få beskjed når vi har tildelt plassene.</p>
            </div>

            @if (Model.RoleSignup)
            {
                <p>
                    Du er påmeldt som <strong>@Model.Role.DisplayName().ToLower()</strong>
                    @if (Model.AllowPartnerSignup)
                    {
                        if (string.IsNullOrWhiteSpace(Model.PartnerEmail))
                        {
                            @:uten partner.
                        }
                        else
                        {
                            @:sammen med <strong>@Model.PartnerEmail</strong>.
                        }
                    }
                </p>
            }

            <vc:survey-response id=Model.SurveyId disabled />

            @if (!Model.IsArchived && (Model.RoleSignup || Model.SurveyId.HasValue))
            {
                <div class="text-center">
                    <a asp-page="/Signup/Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary">Rediger påmelding</a>
                </div>
            }
        }
    </div>
</div>
