@using MemberService.Pages.Pay
@model PayModel
@inject Config Config

@{
    ViewData["Title"] = "Betal";
    Layout = "~/Pages/_CoverLayout.cshtml";
}

<div class="card mt-5 shadow">
    <h3 class="card-header">
        Betal for @Model.Name
    </h3>
    <div class="card-body">
        <p>
            Trykk på knappen under for å betale @Model.Amount.FormatMoney() for @Model.Name (@Model.Description)
        </p>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
            function payWithStripe() {
                var stripe = Stripe('@Config.Stripe.PublicKey');
                stripe.redirectToCheckout({
                    sessionId: '@Model.Id',
                }).then(function (result) {
                    console.log(result.error.message);
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, display the localized error message to your customer
                    // using `result.error.message`.
                });
            }
        </script>

        <button type="submit" class="btn btn-success btn-block" onclick="payWithStripe()">Betal @Model.Amount.FormatMoney()</button>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
