@using MemberService.Data.ValueTypes
@model EventInputModel

<input type="hidden" asp-for="SemesterId"/>

<div class="form-group col-md-6">
    <label asp-for="Title"></label>
    <input type="text" class="form-control" asp-for="Title">
    <span asp-validation-for="Title" class="text-danger"></span>
</div>

<div class="form-group col-md-6">
    <label asp-for="Type"></label>
    @if (Model.SemesterId.HasValue)
    {
        <input type="hidden" asp-for="Type"/>
        <span class="form-control-plaintext">@EventType.Class.DisplayDescription()</span>
    }
    else { 
        <select class="form-control" asp-for="Type">
            <option value="@EventType.Workshop">@EventType.Workshop.DisplayDescription()</option>
            <option value="@EventType.Party">@EventType.Party.DisplayDescription()</option>
        </select>
    }
    <span asp-validation-for="Type" class="text-danger"></span>
</div>

<div class="form-group col-12">
    <label asp-for="Description"></label>
    <input type="text" class="form-control" asp-for="Description">
    <span asp-validation-for="Description" class="text-danger"></span>
    <spall class="form-text text-muted">Beskrivelsen burde inneholde dato og sted for arrangementet</spall>
</div>

<div class="col-md-6">
    <div class="card mb-2">
        <div class="card-header">
            Påmeldingsskjema
        </div>
        <div class="card-body">
            <div class="form-group">
                <label asp-for="SignupHelp"></label>
                <textarea class="form-control" rows="3" asp-for="SignupHelp"></textarea>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" asp-for="RoleSignup" data-toggle="collapse" data-target="#role-signup-help" aria-expanded="@(Model.RoleSignup ? "true" : "false")">
                <label class="form-check-label" asp-for="RoleSignup"></label>
                <span asp-validation-for="RoleSignup" class="text-danger"></span>
            </div>
            <div id="role-signup-help" class="form-group collapse @(Model.RoleSignup ? "show" : "")">
                <input type="text" class="form-control" asp-for="RoleSignupHelp">
                <small class="form-text text-muted">Hjelpetekst for valg av rolle</small>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" asp-for="AllowPartnerSignup" data-toggle="collapse" data-target="#allow-partner-signup-help" aria-expanded="@(Model.AllowPartnerSignup ? "true" : "false")">
                <label class="form-check-label" asp-for="AllowPartnerSignup"></label>
                <span asp-validation-for="AllowPartnerSignup" class="text-danger"></span>
            </div>
            <div id="allow-partner-signup-help" class="form-group collapse @(Model.AllowPartnerSignup ? "show" : "")">
                <input type="text" class="form-control" asp-for="AllowPartnerSignupHelp">
                <small class="form-text text-muted">Hjelpetekst for partner påmelding</small>
            </div>
            <hr />
            <small class="text-muted">Du kan bruke <a href="https://www.markdownguide.org/basic-syntax/" target="_blank">Markdown</a>, f.eks <code>**<b>bold</b>**</code>, <code>_<i>italics</i>_</code> og <code>[link](https://bardarswingclub.no)</code></small>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-header">
            Annet
        </div>
        <div class="card-body">
            <div class="form-group">
                <label asp-for="AutoAcceptedSignups"></label>
                <input class="form-control" asp-for="AutoAcceptedSignups">
                <small class="form-text text-muted">Gi plass til de første n som melder seg på. Ved påmelding med roller så gjelder dette per rolle</small>
            </div>
        </div>
    </div>
</div>

<div class="col-md-6">
    <div class="card mb-2">
        <div class="card-header">
            Betaling
        </div>
        @if (Model.Type == EventType.Class)
        {
            <div class="card-body">
                <p class="text-center mt-5 mb-5">Kurs krever betalt kursavgift</p>
                <input type="hidden" asp-for="PriceForMembers" value="0" />
                <input type="hidden" asp-for="PriceForNonMembers" value="0" />
                <input type="hidden" asp-for="RequiresMembershipFee" value="true" />
                <input type="hidden" asp-for="RequiresTrainingFee" value="true" />
                <input type="hidden" asp-for="RequiresClassesFee" value="true" />
            </div>
        }
        else
        {
            <div class="card-body">
                <div class="form-group row">
                    <label asp-for="PriceForMembers" class="col-6 col-form-label"></label>
                    <div class="col-6">
                        <input type="number" placeholder="kr 0,-" class="form-control" asp-for="PriceForMembers" asp-format="{0:0}">
                        <span asp-validation-for="PriceForMembers" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="PriceForNonMembers" class="col-6 col-form-label"></label>
                    <div class="col-6">
                        <input type="number" placeholder="kr 0,-" class="form-control" asp-for="PriceForNonMembers" asp-format="{0:0}">
                        <span asp-validation-for="PriceForNonMembers" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" asp-for="RequiresMembershipFee">
                    <label class="form-check-label" asp-for="RequiresMembershipFee"></label>
                    <span asp-validation-for="RequiresMembershipFee" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" asp-for="RequiresTrainingFee">
                    <label class="form-check-label" asp-for="RequiresTrainingFee"></label>
                    <span asp-validation-for="RequiresTrainingFee" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" asp-for="RequiresClassesFee">
                    <label class="form-check-label" asp-for="RequiresClassesFee"></label>
                    <span asp-validation-for="RequiresClassesFee" class="text-danger"></span>
                </div>
            </div>
        }
    </div>

    <div class="card mb-2">
        <div class="card-header">
            <div class="form-check">
                <input class="form-check-input @(Model.EnableSignupOpensAt ? "" : "collapsed")" type="checkbox" asp-for="EnableSignupOpensAt" data-toggle="collapse" data-target="#opens-at" aria-expanded="@(Model.EnableSignupOpensAt ? "true" : "false")">
                <label class="form-check-label" asp-for="EnableSignupOpensAt">
                    Påmelding åpner
                </label>
            </div>
        </div>
        <div id="opens-at" class="card-body collapse @(Model.EnableSignupOpensAt ? "show" : "")">
            <div class="form-group row">
                <label asp-for="SignupOpensAtDate" class="col-6 col-form-label">Dato</label>
                <div class="col-6">
                    <input type="date" class="form-control" asp-for="SignupOpensAtDate">
                </div>
                <span asp-validation-for="SignupOpensAtDate" class="text-danger col-12"></span>
            </div>
            <div class="form-group row">
                <label for="SignupOpensAtTime" class="col-6 col-form-label">Tid</label>
                <div class="col-6">
                    <input type="text" pattern="\d\d:\d\d" class="form-control" asp-for="SignupOpensAtTime" placeholder="f.eks 00:00">
                </div>
                <span asp-validation-for="SignupOpensAtTime" class="text-danger col-12"></span>
            </div>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-header">
            <div class="form-check">
                <input class="form-check-input @(Model.EnableSignupClosesAt ? "" : "collapsed")" type="checkbox" asp-for="EnableSignupClosesAt" data-toggle="collapse" data-target="#closes-at" aria-expanded="@(Model.EnableSignupClosesAt ? "true" : "false")">
                <label class="form-check-label" asp-for="EnableSignupClosesAt">
                    Påmelding stenger
                </label>
            </div>
        </div>
        <div id="closes-at" class="card-body collapse @(Model.EnableSignupClosesAt ? "show" : "")">
            <div class="form-group row">
                <label asp-for="SignupClosesAtDate" class="col-6 col-form-label">Dato</label>
                <div class="col-6">
                    <input type="date" class="form-control" asp-for="SignupClosesAtDate">
                </div>
                <span asp-validation-for="SignupClosesAtDate" class="text-danger col-12"></span>
            </div>
            <div class="form-group row">
                <label for="SignupClosesAtTime" class="col-6 col-form-label">Tid</label>
                <div class="col-6">
                    <input type="text" pattern="\d\d:\d\d" class="form-control" asp-for="SignupClosesAtTime" placeholder="f.eks 00:00">
                </div>
                <span asp-validation-for="SignupClosesAtTime" class="text-danger col-12"></span>
            </div>
        </div>
    </div>
</div>