@using MemberService.Data.ValueTypes
@model EditOrganizersModel

@{
    ViewData["Title"] = Model.EventTitle;
    ViewData["ContainerClass"] = "container-fluid";
}

<vc:semester-header id="@Model.SemesterId"></vc:semester-header>
<vc:event-header id="@Model.EventId"></vc:event-header>

<table class="table">
    <thead>
        <tr>
            <th>Navn</th>
            <th class="text-center">Kan se påmelding</th>
            <th class="text-center">Kan gi plass</th>
            <th class="text-center">Kan føre oppmøte</th>
            <th class="text-center">Kan legge til oppmøtetime</th>
            <th class="text-center">Kan redigere arrangement</th>
            <th class="text-center">Kan legge til organisatorer</th>
            @if (await AuthorizationService.IsAuthorized(User, Model.EventId, Policy.CanEditEventSignup))
            {
                <th class="text-center">Kan redigere påmelding</th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var organizer in Model.Organizers)
        {
            <tr>
                <td><a asp-page="/Members/Details" asp-route-id="@organizer.Id">@organizer.FullName (@organizer.Email)</a></td>
                <td class="text-center">✔</td>
                <td>
                    <label class="text-center d-block">
                        <input type="checkbox" form="edit-@organizer.Id" name="CanSetSignupStatus" value="true" checked="@organizer.CanSetSignupStatus">
                    </label>
                </td>
                <td>
                    <label class="text-center d-block">
                        <input type="checkbox" form="edit-@organizer.Id" name="CanSetPresence" value="true" checked="@organizer.CanSetPresence">
                    </label>
                </td>
                <td>
                    <label class="text-center d-block">
                        <input type="checkbox" form="edit-@organizer.Id" name="CanAddPresenceLesson" value="true" checked="@organizer.CanAddPresenceLesson">
                    </label>
                </td>
                <td>
                    <label class="text-center d-block">
                        <input type="checkbox" form="edit-@organizer.Id" name="CanEdit" value="true" checked="@organizer.CanEdit">
                    </label>
                </td>
                <td>
                    <label class="text-center d-block">
                        <input type="checkbox" form="edit-@organizer.Id" name="CanEditOrganizers" value="true" checked="@organizer.CanEditOrganizers">
                    </label>
                </td>
                @if (await AuthorizationService.IsAuthorized(User, Model.EventId, Policy.CanEditEventSignup))
                {
                    <td>
                        <label class="text-center d-block">
                            <input type="checkbox" form="edit-@organizer.Id" name="CanEditSignup" value="true" checked="@organizer.CanEditSignup">
                        </label>
                    </td>
                }
                <td>
                    <form id="edit-@organizer.Id" method="POST" asp-action="EditOrganizer" asp-route-id="@Model.EventId" data-action="ajax-form">
                        <input type="hidden" name="userId" value="@organizer.Id">
                    </form>
                    <form id="edit-@organizer.Id" method="POST" asp-action="EditOrganizer" asp-route-id="@Model.EventId">
                        <input type="hidden" name="userId" value="@organizer.Id">
                        <button class="btn btn-outline-danger" type="submit" name="remove" value="true">Fjern</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>
                <form id="addUserForm" asp-action="AddOrganizer" asp-route-id="@Model.EventId" method="POST">
                    <div class="form-row">
                        <div class="col-md-12">
                        <select
                            class="form-control autoComplete"
                            name="userId"
                            placeholder="Søk etter person"
                            data-url="/event/users/@Model.EventId"
                            autocomplete="off"></select>
                        </div>
                    </div>
                </form>
            </td>
            <td class="text-center">✔</td>
            <td>
                <label class="text-center d-block">
                    <input type="checkbox" form="addUserForm" value="true" name="CanSetSignupStatus">
                </label>
            </td>
            <td>
                <label class="text-center d-block">
                    <input type="checkbox" form="addUserForm" value="true" name="CanSetPresence">
                </label>
            </td>
            <td>
                <label class="text-center d-block">
                    <input type="checkbox" form="addUserForm" value="true" name="CanAddPresenceLesson">
                </label>
            </td>
            <td>
                <label class="text-center d-block">
                    <input type="checkbox" form="addUserForm" value="true" name="CanEdit">
                </label>
            </td>
            <td>
                <label class="text-center d-block">
                    <input type="checkbox" form="addUserForm" value="true" name="CanEditOrganizers">
                </label>
            </td>
            @if (await AuthorizationService.IsAuthorized(User, Model.EventId, Policy.CanEditEventSignup))
            {
                <td>
                    <label class="text-center d-block">
                        <input type="checkbox" form="addUserForm" value="true" name="CanEditSignup">
                    </label>
                </td>
            }
            <td>
                <button class="btn btn-success" form="addUserForm">Legg til</button>
            </td>
        </tr>
    </tfoot>
</table>



@section scripts
{
    <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
    <script>
        $('.autoComplete').autoComplete();
    </script>

    <script>
        $(function () {
            $("[data-action='ajax-form']").submit(
                function (e) {
                    e.preventDefault(); // avoid to execute the actual submit of the form.

                    var form = $(this);
                    var url = form.attr('action');

                    form.prop('disabled', true);

                    $.ajax({
                        type: form.attr('method'),
                        url: url,
                        data: form.serialize(), // serializes the form's elements.
                        success: () => form.prop('disabled', false)
                    });
                });
        });
    </script>
}