@model EventInputModel

@{
    ViewData["Title"] = Model.Title;
    ViewData["ContainerClass"] = "container-fluid";
}

<vc:semester-header id="@Model.SemesterId"></vc:semester-header>
<vc:event-header id="@Model.Id"></vc:event-header>

<form method="POST" asp-action="Edit" asp-route-id="@Model.Id" class="form-row justify-content-between">
    <partial name="_EditEvent" model="@Model" />
    <div class="col-md-12 mt-2">
        <button type="submit" class="btn btn-success">Lagre</button>
        <button class="btn btn-outline-danger" form="archive-form">Arkiver</button>
        <button class="btn btn-outline-success" form="copy-form">Kopier</button>
    </div>
</form>

<form method="POST" asp-action="SetStatus" asp-route-id="@Model.Id" id="archive-form">
    <input type="hidden" name="status" value="archive" />
</form>

<form method="POST" asp-action="Copy" asp-route-id="@Model.Id" id="copy-form">
</form>
