@model List<Event>

@{
    ViewData["Title"] = "Eventer";
}
<h2>
    @ViewData["Title"]
    <a class="btn btn-primary float-right" asp-action="Create">Opprett ny event</a>
</h2>


<table class="table">
<thead>
    <tr>
        <th>Navn</th>
        <th>Påmeldte</th>
        <th>Deltakere</th>
        <th>Dato</th>
    </tr>
</thead>
<tbody>
    @foreach(var eventEntry in Model)
    {
        <tr>
            <td><a asp-action="View" asp-route-id="@eventEntry.Id">@eventEntry.Title</a></td>
            <td>@eventEntry.Signups.Count</td>
            <td>@eventEntry.Signups.Count(s => s.Status == Status.AcceptedAndPayed)</td>
            <td><abbr title="@eventEntry.CreatedAt.ToOsloDateTime()">@eventEntry.CreatedAt.ToOsloDate()</abbr></td>
        </tr>
    }
</tbody>
</table>