@using MemberService.Data.ValueTypes
@model EventModel

@{
    ViewData["Title"] = Model.Title;
    ViewData["ContainerClass"] = "container-fluid";
}

<vc:semester-header id="@Model.SemesterId"></vc:semester-header>
<vc:event-header id="@Model.Id"></vc:event-header>

<details class="btn-toolbar card mb-2" open="@(
    Model.Filter.SignedUpBefore.HasValue ||
    Model.Filter.Priority.HasValue ||
    !string.IsNullOrWhiteSpace(Model.Filter.Name) ||
    Model.Filter.ExcludeAcceptedElsewhere || Model.Filter.ExcludeApprovedElsewhere || Model.Filter.ExcludeRecommendedElsewhere ||
    Model.Filter.OnlyWaitingListElsewhere || Model.Filter.OnlyRejectedElsewhere || Model.Filter.OnlyDeniedElsewhere)">
    <summary class="card-header">Filter</summary>
    <form class="card-body" method="get">
        <div class="input-group mr-2 mb-2">
            <div class="input-group-prepend">
                <label class="input-group-text @(Model.Filter.SignedUpBefore.HasValue ? "bg-info text-white" : "")" asp-for="Filter.SignedUpBefore">Påmeldt før</label>
            </div>
            <input type="date" asp-for="Filter.SignedUpBefore" class="form-control" onchange="this.form.submit()"/>
        </div>
        <div class="input-group mr-2 mb-2">
            <div class="input-group-prepend">
                <label class="input-group-text @(Model.Filter.Priority.HasValue ? "bg-info text-white" : "")" asp-for="Filter.Priority">Prioritet</label>
            </div>
            <select asp-for="Filter.Priority" class="custom-select" onchange="this.form.submit()">
                <option>Alle</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <div class="input-group mr-2 mb-2">
            <div class="input-group-prepend">
                <label class="input-group-text @(!string.IsNullOrWhiteSpace(Model.Filter.Name) ? "bg-info text-white" : "")" asp-for="Filter.Name">Navn</label>
            </div>
            <input type="text" asp-for="Filter.Name" class="form-control" onchange="this.form.submit()"/>
        </div>
        <div class="input-group mr-2 mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text @(Model.Filter.ExcludeAcceptedElsewhere || Model.Filter.ExcludeApprovedElsewhere || Model.Filter.ExcludeRecommendedElsewhere ? "bg-info text-white" : "")">Utenom</span>
            </div>
            <div class="input-group-append">
                <div class="input-group-text bg-white">
                    <input class="mr-1" type="checkbox" asp-for="Filter.ExcludeAcceptedElsewhere" onchange="this.form.submit()"/>
                    <label class="form-check-label" asp-for="Filter.ExcludeAcceptedElsewhere">@Status.AcceptedAndPayed.DisplayName()</label>
                </div>
                <div class="input-group-text bg-white">
                    <input class="mr-1" type="checkbox" asp-for="Filter.ExcludeApprovedElsewhere" onchange="this.form.submit()"/>
                    <label class="form-check-label" asp-for="Filter.ExcludeApprovedElsewhere">@Status.Approved.DisplayName()</label>
                </div>
                <div class="input-group-text bg-white">
                    <input class="mr-1" type="checkbox" asp-for="Filter.ExcludeRecommendedElsewhere" onchange="this.form.submit()"/>
                    <label class="form-check-label" asp-for="Filter.ExcludeRecommendedElsewhere">@Status.Recommended.DisplayName()</label>
                </div>
            </div>
            <div class="input-group-append">
                <span class="input-group-text @(Model.Filter.ExcludeAcceptedElsewhere || Model.Filter.ExcludeApprovedElsewhere || Model.Filter.ExcludeRecommendedElsewhere ? "bg-info text-white" : "")">på andre kurs</span>
            </div>
        </div>
        <div class="input-group mr-2 mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text @(Model.Filter.OnlyWaitingListElsewhere || Model.Filter.OnlyRejectedElsewhere || Model.Filter.OnlyDeniedElsewhere ? "bg-info text-white" : "")">Bare</span>
            </div>
            <div class="input-group-append">
                <div class="input-group-text bg-white">
                    <input class="mr-1" type="checkbox" asp-for="Filter.OnlyWaitingListElsewhere" onchange="this.form.submit()"/>
                    <label class="form-check-label" asp-for="Filter.OnlyWaitingListElsewhere">@Status.WaitingList.DisplayName()</label>
                </div>
                <div class="input-group-text bg-white">
                    <input class="mr-1" type="checkbox" asp-for="Filter.OnlyRejectedElsewhere" onchange="this.form.submit()"/>
                    <label class="form-check-label" asp-for="Filter.OnlyRejectedElsewhere">@Status.RejectedOrNotPayed.DisplayName()</label>
                </div>
                <div class="input-group-text bg-white">
                    <input class="mr-1" type="checkbox" asp-for="Filter.OnlyDeniedElsewhere" onchange="this.form.submit()"/>
                    <label class="form-check-label" asp-for="Filter.OnlyDeniedElsewhere">@Status.Denied.DisplayName()</label>
                </div>
            </div>
            <div class="input-group-append">
                <span class="input-group-text @(Model.Filter.OnlyWaitingListElsewhere || Model.Filter.OnlyRejectedElsewhere || Model.Filter.OnlyDeniedElsewhere ? "bg-info text-white" : "")">på andre kurs</span>
            </div>
        </div>
        <div class="btn-group sr-only">
            <button type="submit" class="btn btn-success">Filtrer</button>
        </div>
    </form>
</details>

<div class="card">
    <div class="card-header nowrap-tabs">
        <ul class="nav nav-tabs card-header-tabs flex-nowrap" id="myTab" role="tablist">
            @foreach (var signups in Model.Signups)
            {
                <li class="nav-item">
                    <a class="nav-link text-dark @(signups.Active ? "active" : "")" id="tab-@signups.Key" data-toggle="tab" href="#@signups.Key" role="tab" aria-controls="@signups.Key" aria-selected="@signups.Active">
                        @signups.Display
                        @if (Model.RoleSignup && signups.Signups.Any())
                        {
                            <span class="ml-1 badge badge-pill badge-secondary">@(signups.Leads.Count)+@signups.Follows.Count</span>
                        }
                        else if (!Model.RoleSignup && signups.Solos.Any())
                        {
                            <span class="ml-1 badge badge-pill badge-secondary">@signups.Solos.Count</span>
                        }
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="tab-content card-body">
        @foreach (var signups in Model.Signups)
        {
            <form method="post" class="tab-pane @(signups.Active ? "active" : "")" id="@signups.Key" role="tabpanel" aria-labelledby="@signups.Key-tab" disabled="@Model.Archived">

                @if (!Model.Archived && User.CanSetSignupStatus())
                {
                    <div class="row mb-5">
                        <partial name="_SignupActions" for="@signups" />
                    </div>
                }

                <fieldset class="row" disabled="@Model.Archived">
                    @if (Model.RoleSignup)
                    {
                        var leads = new ParticipantsModel(signups.Leads, Model.AllowPartnerSignup);
                        var follows = new ParticipantsModel(signups.Follows, Model.AllowPartnerSignup);

                        <div class="col-lg-6">
                            <h4>Førere</h4>

                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th><input type="checkbox" data-action="select-all" /></th>
                                        <th>Navn</th>
                                        <th>Påmeldt</th>
                                        @if (Model.AllowPartnerSignup)
                                        {
                                            <th>Partner</th>
                                        }
                                    </tr>
                                </thead>
                                <partial name="_Participants" for="@leads" />
                            </table>
                        </div>
                        <div class="col-lg-6">
                            <h4>Følgere</h4>

                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th><input type="checkbox" data-action="select-all" /></th>
                                        <th>Navn</th>
                                        <th>Påmeldt</th>
                                        @if (Model.AllowPartnerSignup)
                                        {
                                            <th>Partner</th>
                                        }
                                    </tr>
                                </thead>
                                <partial name="_Participants" for="@follows" />
                            </table>
                        </div>
                    }
                    else
                    {
                        var solos = new ParticipantsModel(signups.Solos, Model.AllowPartnerSignup);

                        <div class="col-lg-12">

                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th><input type="checkbox" data-action="select-all" /></th>
                                        <th>Navn</th>
                                        <th>Påmeldt</th>
                                    </tr>
                                </thead>
                                <partial name="_Participants" for="@solos" />
                            </table>
                        </div>
                    }
                </fieldset>
            </form>
        }
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $("input[data-action=select-all]").on('click', function () {
                var table = $(this).parents('table');

                var checked = this.checked;

                table.find('input[type=checkbox]').prop('checked', checked);
            });
        });

        $(function () {
            $("select[data-action=set-email]").on('change', function () {
                var tabContent = $(this).parents('form');

                var subject = this.options[this.selectedIndex].getAttribute("data-subject");
                var body = this.options[this.selectedIndex].getAttribute("data-body");

                tabContent.find('input[name=Subject]').val(subject);
                tabContent.find('textarea[name=Message]').val(body);
            });
        });

    </script>
}
