@page "{id}"
@using MemberService.Data.ValueTypes
@model ViewModel

@{
    ViewData["Title"] = Model.Title;
    ViewData["ContainerClass"] = "container-fluid";
}

<vc:semester-header id="@Model.SemesterId"></vc:semester-header>
<vc:event-header id="@Model.Id"></vc:event-header>

<details class="btn-toolbar card mb-2" open="@(
    Model.SignedUpBefore.HasValue ||
    Model.Priority.HasValue ||
    !string.IsNullOrWhiteSpace(Model.Name) ||
    Model.ExcludeAcceptedElsewhere || Model.ExcludeApprovedElsewhere || Model.ExcludeRecommendedElsewhere ||
    Model.OnlyWaitingListElsewhere || Model.OnlyRejectedElsewhere || Model.OnlyDeniedElsewhere)">
    <summary class="card-header">Filter</summary>
    <form class="card-body" method="get">
        <div class="input-group mr-2 mb-2">
            <div class="input-group-prepend">
                <label class="input-group-text @(Model.SignedUpBefore.HasValue ? "bg-info text-white" : "")" asp-for="SignedUpBefore">Påmeldt før</label>
            </div>
            <input type="date" asp-for="SignedUpBefore" class="form-control" onchange="this.form.submit()"/>
        </div>
        <div class="input-group mr-2 mb-2">
            <div class="input-group-prepend">
                <label class="input-group-text @(Model.Priority.HasValue ? "bg-info text-white" : "")" asp-for="Priority">Prioritet</label>
            </div>
            <select asp-for="Priority" class="custom-select" onchange="this.form.submit()">
                <option>Alle</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </div>
        <div class="input-group mr-2 mb-2">
            <div class="input-group-prepend">
                <label class="input-group-text @(!string.IsNullOrWhiteSpace(Model.Name) ? "bg-info text-white" : "")" asp-for="Name">Navn</label>
            </div>
            <input type="text" asp-for="Name" class="form-control" onchange="this.form.submit()"/>
        </div>
        @if (Model.SemesterId is Guid)
        {
            <div class="input-group mr-2 mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text @(Model.ExcludeAcceptedElsewhere || Model.ExcludeApprovedElsewhere || Model.ExcludeRecommendedElsewhere ? "bg-info text-white" : "")">Utenom</span>
                </div>
                <div class="input-group-append">
                    <div class="input-group-text bg-white">
                        <input class="mr-1" type="checkbox" asp-for="ExcludeAcceptedElsewhere" onchange="this.form.submit()"/>
                        <label class="form-check-label" asp-for="ExcludeAcceptedElsewhere">@Status.AcceptedAndPayed.DisplayName()</label>
                    </div>
                    <div class="input-group-text bg-white">
                        <input class="mr-1" type="checkbox" asp-for="ExcludeApprovedElsewhere" onchange="this.form.submit()"/>
                        <label class="form-check-label" asp-for="ExcludeApprovedElsewhere">@Status.Approved.DisplayName()</label>
                    </div>
                    <div class="input-group-text bg-white">
                        <input class="mr-1" type="checkbox" asp-for="ExcludeRecommendedElsewhere" onchange="this.form.submit()"/>
                        <label class="form-check-label" asp-for="ExcludeRecommendedElsewhere">@Status.Recommended.DisplayName()</label>
                    </div>
                </div>
                <div class="input-group-append">
                    <span class="input-group-text @(Model.ExcludeAcceptedElsewhere || Model.ExcludeApprovedElsewhere || Model.ExcludeRecommendedElsewhere ? "bg-info text-white" : "")">på andre kurs</span>
                </div>
            </div>
            <div class="input-group mr-2 mb-2">
                <div class="input-group-prepend">
                    <span class="input-group-text @(Model.OnlyWaitingListElsewhere || Model.OnlyRejectedElsewhere || Model.OnlyDeniedElsewhere ? "bg-info text-white" : "")">Bare</span>
                </div>
                <div class="input-group-append">
                    <div class="input-group-text bg-white">
                        <input class="mr-1" type="checkbox" asp-for="OnlyWaitingListElsewhere" onchange="this.form.submit()"/>
                        <label class="form-check-label" asp-for="OnlyWaitingListElsewhere">@Status.WaitingList.DisplayName()</label>
                    </div>
                    <div class="input-group-text bg-white">
                        <input class="mr-1" type="checkbox" asp-for="OnlyRejectedElsewhere" onchange="this.form.submit()"/>
                        <label class="form-check-label" asp-for="OnlyRejectedElsewhere">@Status.RejectedOrNotPayed.DisplayName()</label>
                    </div>
                    <div class="input-group-text bg-white">
                        <input class="mr-1" type="checkbox" asp-for="OnlyDeniedElsewhere" onchange="this.form.submit()"/>
                        <label class="form-check-label" asp-for="OnlyDeniedElsewhere">@Status.Denied.DisplayName()</label>
                    </div>
                </div>
                <div class="input-group-append">
                    <span class="input-group-text @(Model.OnlyWaitingListElsewhere || Model.OnlyRejectedElsewhere || Model.OnlyDeniedElsewhere ? "bg-info text-white" : "")">på andre kurs</span>
                </div>
            </div>
        }
        <div class="btn-group sr-only">
            <button type="submit" class="btn btn-success">Filtrer</button>
        </div>
    </form>
</details>

<div class="card">
    <div class="card-header nowrap-tabs">
        <ul class="nav nav-tabs card-header-tabs flex-nowrap" id="myTab" role="tablist">
            @foreach (var signups in Model.Signups)
            {
                <li class="nav-item">
                    <a class="nav-link text-dark @(signups.Active ? "active" : "")" id="tab-@signups.Key" data-toggle="tab" href="#@signups.Key" role="tab" aria-controls="@signups.Key" aria-selected="@signups.Active">
                        @signups.Display
                        @if (Model.RoleSignup && signups.Signups.Any())
                        {
                            <span class="ml-1 badge badge-pill badge-secondary">@(signups.Leads.Count)+@signups.Follows.Count</span>
                        }
                        else if (!Model.RoleSignup && signups.Solos.Any())
                        {
                            <span class="ml-1 badge badge-pill badge-secondary">@signups.Solos.Count</span>
                        }
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="tab-content card-body">
        @foreach (var signups in Model.Signups)
        {
            <form method="post" class="tab-pane @(signups.Active ? "active" : "")" id="@signups.Key" role="tabpanel" aria-labelledby="@signups.Key-tab">

                @if (!Model.Archived && await AuthorizationService.IsAuthorized(User, Model.Id, Policy.CanSetEventSignupStatus))
                {
                    <div class="row mb-5">
                        <partial name="_SignupActions" for="@signups" />
                    </div>
                }
                else if(await AuthorizationService.IsAuthorized(User, Model.Id, Policy.CanSendEventEmail))
                {
                    <div class="row mb-5">
                        <button type="submit" class="btn btn-success">
                            &#x1F4E7; Send epost
                        </button>
                    </div>
                }


                <fieldset class="row" disabled="@Model.Archived">
                    @if (Model.RoleSignup)
                    {
                        var leads = new ParticipantsModel(signups.Leads, Model);
                        var follows = new ParticipantsModel(signups.Follows, Model);

                        <div class="col-lg-6">
                            <h4>Førere</h4>
                            <partial name="_Participants" for="@leads" />
                        </div>
                        <div class="col-lg-6">
                            <h4>Følgere</h4>
                            <partial name="_Participants" for="@follows" />
                        </div>
                    }
                    else
                    {
                        var solos = new ParticipantsModel(signups.Solos, Model);

                        <div class="col-lg-12">
                            <partial name="_Participants" for="@solos" />
                        </div>
                    }
                </fieldset>
            </form>
        }
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $("input[data-action=select-all]").on('click', function () {
                var table = $(this).parents('table');

                var checked = this.checked;

                table.find('input[type=checkbox]').prop('checked', checked);
            });
        });

        $(function () {
            $("select[data-action=set-email]").on('change', function () {
                var tabContent = $(this).parents('form');

                var subject = this.options[this.selectedIndex].getAttribute("data-subject");
                var body = this.options[this.selectedIndex].getAttribute("data-body");

                tabContent.find('input[name=Subject]').val(subject);
                tabContent.find('textarea[name=Message]').val(body);
            });
        });

    </script>
}
