@using MemberService.Pages.Event
@model EventModel

@{
    ViewData["Title"] = Model.Title;
    ViewData["ContainerClass"] = "container-fluid";
}

<h2>
    <a asp-controller="Signup" asp-action="Event" asp-route-id="@Model.Id" asp-route-slug="@Model.Title.Slugify()" target="_blank">
        @ViewData["Title"]
    </a>
    <a asp-controller="Event" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary float-right">
        Rediger
    </a>
</h2>

<h4>@Model.Description</h4>

<form class="alert @AlertClass(Model)" asp-action="SetStatus" asp-route-id="@Model.Id" method="POST">
    @if (Model.Archived)
    {
        <h4 class="alert-heading">Arrangementet er arkivert</h4>
        <p>Dette arrangementet er arkivert og ikke lenger åpent for redigering</p>
    }
    else if (Model.IsOpen)
    {
        <h4 class="alert-heading">
            Påmeldingen er åpen!
            <button type="submit" name="status" value="close" class="btn btn-outline-danger float-right">Steng påmeldingen nå</button>
        </h4>
        @if (Model.SignupOpensAt.HasValue)
        {
            <p>Påmeldingen åpnet @Model.SignupOpensAt.Value.ToOsloDate() klokken @Model.SignupOpensAt.Value.ToOsloTime()</p>
        }
        @if (Model.SignupClosesAt.HasValue)
        {
            <p>Påmeldingen stenger @Model.SignupClosesAt.Value.ToOsloDate() klokken @Model.SignupClosesAt.Value.ToOsloTime()</p>
        }
    }
    else if (Model.HasClosed)
    {
        <h4 class="alert-heading">
            Påmeldingen har stengt!
            <button type="submit" name="status" value="open" class="btn btn-outline-success float-right">Gjennåpne påmeldingen nå</button>
        </h4>
        @if (Model.SignupOpensAt.HasValue)
        {
            <p>Påmeldingen åpnet @Model.SignupOpensAt.Value.ToOsloDate() klokken @Model.SignupOpensAt.Value.ToOsloTime()</p>
        }
        <p>Påmeldingen stengte @Model.SignupClosesAt.Value.ToOsloDate() klokken @Model.SignupClosesAt.Value.ToOsloTime()</p>
    }
    else
    {
        <h4 class="alert-heading">
            Påmeldingen har ikke åpnet ennå!
            <button type="submit" name="status" value="open" class="btn btn-outline-success float-right">Åpne påmeldingen nå</button>
        </h4>
        <p>Påmeldingen åpner @Model.SignupOpensAt.Value.ToOsloDate() klokken @Model.SignupOpensAt.Value.ToOsloTime()</p>
        @if (Model.SignupClosesAt.HasValue)
        {
            <p>Påmeldingen stenger @Model.SignupClosesAt.Value.ToOsloDate() klokken @Model.SignupClosesAt.Value.ToOsloTime()</p>
        }
    }
</form>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            @foreach (var signups in Model.Signups)
            {
                <li class="nav-item">
                    <a class="nav-link text-dark @(signups.Active ? "active" : "")" id="tab-@signups.Key" data-toggle="tab" href="#@signups.Key" role="tab" aria-controls="@signups.Key" aria-selected="@signups.Active">
                        @signups.Display
                        @if (Model.RoleSignup && signups.Signups.Any())
                        {
                            <span class="ml-1 badge badge-pill badge-secondary">@(signups.Leads.Count)+@signups.Follows.Count</span>
                        }
                        else if (!Model.RoleSignup && signups.Solos.Any())
                        {
                            <span class="ml-1 badge badge-pill badge-secondary">@signups.Solos.Count</span>
                        }
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="tab-content card-body">
        @foreach (var signups in Model.Signups)
        {
            <form method="post" class="tab-pane @(signups.Active ? "active" : "")" id="@signups.Key" role="tabpanel" aria-labelledby="@signups.Key-tab" disabled="@Model.Archived">
                <div class="row">
                    @if (Model.RoleSignup)
                    {
                        var leads = new ParticipantsModel(signups.Leads, Model.AllowPartnerSignup);
                        var follows = new ParticipantsModel(signups.Follows, Model.AllowPartnerSignup);

                        <div class="col-xl-4 col-lg-6">
                            <h4>Førere</h4>

                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th></th>
                                        <th>Navn</th>
                                        <th>Påmeldt</th>
                                        @if (Model.AllowPartnerSignup)
                                        {
                                            <th>Partner</th>
                                        }
                                    </tr>
                                </thead>
                                <partial name="_Participants" for="@leads">
                            </table>
                        </div>
                        <div class="col-xl-4 col-lg-6">
                            <h4>Følgere</h4>

                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th></th>
                                        <th>Navn</th>
                                        <th>Påmeldt</th>
                                        @if (Model.AllowPartnerSignup)
                                        {
                                            <th>Partner</th>
                                        }
                                    </tr>
                                </thead>
                                <partial name="_Participants" for="@follows">
                            </table>
                        </div>
                    }
                    else
                    {
                        var solos = new ParticipantsModel(signups.Solos, Model.AllowPartnerSignup);

                        <div class="col-lg-8">
                            <h4>Solo</h4>

                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th></th>
                                        <th>Navn</th>
                                        <th>Påmeldt</th>
                                    </tr>
                                </thead>
                                <partial name="_Participants" for="@solos">
                            </table>
                        </div>
                    }

                    <div class="col-xl-4 col-lg-6 offset-lg-3 offset-xl-0">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <select name="Status" class="custom-select">
                                        <option selected="selected" value="">- Velg en handling -</option>
                                        @if(signups.Status != Status.AcceptedAndPayed)
                                        {
                                            <option value="2">Anbefall plass</option>
                                            <option value="4">Gi plass</option>
                                            <option value="3">Sett på venteliste</option>
                                        }
                                        <option value="7">Frata plass</option>
                                    </select>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input collapsed" id="SendEmail-@signups.Key" data-toggle="collapse" data-target="#custom-email-checkbox-@signups.Key" aria-expanded="false" name="SendEmail" value="true" />
                                    <label class="form-check-label" for="SendEmail-@signups.Key">
                                        Informer via epost
                                    </label>
                                </div>
                                <div class="form-check collapse" id="custom-email-checkbox-@signups.Key">
                                    <input type="checkbox" class="form-check-input collapsed" id="SendCustomEmail-@signups.Key" name="SendCustomEmail" value="true" data-toggle="collapse" data-target="#custom-email-@signups.Key" aria-expanded="false" />
                                    <label class="form-check-label" for="SendCustomEmail-@signups.Key">
                                        Skriv egen e-post
                                    </label>
                                </div>
                                <div class="collapse pt-3" id="custom-email-@signups.Key">
                                    <div class="form-group">
                                        <label for="custom-email-subject">Emne</label>
                                        <input type="text" class="form-control" id="custom-email-subject" name="Subject" value="Info om {TITLE}">
                                    </div>
                                    <div class="form-group">
                                        <label for="custom-email-message">Melding</label>
                                        <textarea class="form-control" id="custom-email-message" name="Message" rows="8">
Hei {NAME}

Du har meldt deg på {TITLE}.

Trykk [her]({LINK}) for å betale

_Hilsen Bårdar Swing Club_
                                        </textarea>
                                        <hr />
                                        <small class="text-muted">
                                            Du kan bruke <a href="https://www.markdownguide.org/basic-syntax/" target="_blank">Markdown</a>, f.eks <code>**<b>bold</b>**</code>, <code>_<i>italics</i>_</code> og <code>[link](https://bardarswingclub.no)</code>
                                            <br>
                                            Du kan flette inn
                                            <br>
                                            <code>{NAME}</code>: Personens navn
                                            <br>
                                            <code>{TITLE}</code>: Navnet på arrangementet
                                            <br>
                                            <code>[skriv noe her]({LINK})</code>: Link til arrangementet
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-success btn-block">Lagre</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        }
    </div>
</div>

@functions{
    string AlertClass(EventModel model)
    {
        if (model.Archived)
        {
            return "alert-warning";
        }
        else if (model.IsOpen)
        {
            return "alert-success";
        }
        else
        {
            return model.SignupOpensAt.HasValue
                ? "alert-warning"
                : "alert-danger";
        }
    }
}
