@using MemberService.Data.ValueTypes
@model EventModel

@{
    ViewData["Title"] = Model.Title;
    ViewData["ContainerClass"] = "container-fluid";
}

<vc:semester-header id="@Model.SemesterId"></vc:semester-header>
<vc:event-header id="@Model.Id"></vc:event-header>

<form class="alert @AlertClass(Model) mt-2" asp-action="SetStatus" asp-route-id="@Model.Id" method="POST">
    @if (Model.Archived)
    {
        <h4 class="alert-heading">Arrangementet er arkivert</h4>
        <p>Dette arrangementet er arkivert og ikke lenger åpent for redigering</p>
    }
    else if (Model.IsOpen)
    {
        <h4 class="alert-heading">
            Påmeldingen er åpen!
            @if (User.IsInAnyRole(Roles.ADMIN, Roles.COORDINATOR))
            {
                <button type="submit" name="status" value="close" class="btn btn-outline-danger float-right">Steng påmeldingen nå</button>
            }
        </h4>
        @if (Model.SignupOpensAt.HasValue)
        {
            <p>Påmeldingen åpnet @Model.SignupOpensAt.Value.ToOsloDate() klokken @Model.SignupOpensAt.Value.ToOsloTime()</p>
        }
        @if (Model.SignupClosesAt.HasValue)
        {
            <p>Påmeldingen stenger @Model.SignupClosesAt.Value.ToOsloDate() klokken @Model.SignupClosesAt.Value.ToOsloTime()</p>
        }
    }
    else if (Model.HasClosed)
    {
        <h4 class="alert-heading">
            Påmeldingen har stengt!
            @if (User.IsInAnyRole(Roles.ADMIN, Roles.COORDINATOR))
            {
                <button type="submit" name="status" value="open" class="btn btn-outline-success float-right">Gjennåpne påmeldingen nå</button>
            }
        </h4>
        @if (Model.SignupOpensAt.HasValue)
        {
            <p>Påmeldingen åpnet @Model.SignupOpensAt.Value.ToOsloDate() klokken @Model.SignupOpensAt.Value.ToOsloTime()</p>
        }
        <p>Påmeldingen stengte @Model.SignupClosesAt.Value.ToOsloDate() klokken @Model.SignupClosesAt.Value.ToOsloTime()</p>
    }
    else
    {
        <h4 class="alert-heading">
            Påmeldingen har ikke åpnet ennå!
            @if (User.IsInAnyRole(Roles.ADMIN, Roles.COORDINATOR))
            {
                <button type="submit" name="status" value="open" class="btn btn-outline-success float-right">Åpne påmeldingen nå</button>
            }
        </h4>
        <p>Påmeldingen åpner @Model.SignupOpensAt.Value.ToOsloDate() klokken @Model.SignupOpensAt.Value.ToOsloTime()</p>
        @if (Model.SignupClosesAt.HasValue)
        {
            <p>Påmeldingen stenger @Model.SignupClosesAt.Value.ToOsloDate() klokken @Model.SignupClosesAt.Value.ToOsloTime()</p>
        }
    }
</form>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            @foreach (var signups in Model.Signups)
            {
                <li class="nav-item">
                    <a class="nav-link text-dark @(signups.Active ? "active" : "")" id="tab-@signups.Key" data-toggle="tab" href="#@signups.Key" role="tab" aria-controls="@signups.Key" aria-selected="@signups.Active">
                        @signups.Display
                        @if (Model.RoleSignup && signups.Signups.Any())
                        {
                            <span class="ml-1 badge badge-pill badge-secondary">@(signups.Leads.Count)+@signups.Follows.Count</span>
                        }
                        else if (!Model.RoleSignup && signups.Solos.Any())
                        {
                            <span class="ml-1 badge badge-pill badge-secondary">@signups.Solos.Count</span>
                        }
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="tab-content card-body">
        @foreach (var signups in Model.Signups)
        {
            <form method="post" class="tab-pane @(signups.Active ? "active" : "")" id="@signups.Key" role="tabpanel" aria-labelledby="@signups.Key-tab" disabled="@Model.Archived">

                @if (User.IsInAnyRole(Roles.COORDINATOR, Roles.ADMIN))
                {
                    <div class="row mb-5">
                        <partial name="_SignupActions" for="@signups" />
                    </div>
                }

                <div class="row">
                    @if (Model.RoleSignup)
                    {
                        var leads = new ParticipantsModel(signups.Leads, Model.AllowPartnerSignup);
                        var follows = new ParticipantsModel(signups.Follows, Model.AllowPartnerSignup);

                        <div class="col-lg-6">
                            <h4>Førere</h4>

                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th><input type="checkbox" data-action="select-all" /></th>
                                        <th>Navn</th>
                                        <th>Påmeldt</th>
                                        @if (Model.AllowPartnerSignup)
                                        {
                                            <th>Partner</th>
                                        }
                                    </tr>
                                </thead>
                                <partial name="_Participants" for="@leads" />
                            </table>
                        </div>
                        <div class="col-lg-6">
                            <h4>Følgere</h4>

                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th><input type="checkbox" data-action="select-all" /></th>
                                        <th>Navn</th>
                                        <th>Påmeldt</th>
                                        @if (Model.AllowPartnerSignup)
                                        {
                                            <th>Partner</th>
                                        }
                                    </tr>
                                </thead>
                                <partial name="_Participants" for="@follows" />
                            </table>
                        </div>
                    }
                    else
                    {
                        var solos = new ParticipantsModel(signups.Solos, Model.AllowPartnerSignup);

                        <div class="col-lg-12">

                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th><input type="checkbox" data-action="select-all" /></th>
                                        <th>Navn</th>
                                        <th>Påmeldt</th>
                                    </tr>
                                </thead>
                                <partial name="_Participants" for="@solos" />
                            </table>
                        </div>
                    }
                </div>
            </form>
        }
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $("input[data-action=select-all]").on('click', function () {
                var table = $(this).parents('table');

                var checked = this.checked;

                table.find('input[type=checkbox]').prop('checked', checked);
            });
        });

        $(function () {
            $("select[data-action=set-email]").on('change', function () {
                var tabContent = $(this).parents('form');

                var subject = this.options[this.selectedIndex].getAttribute("data-subject");
                var body = this.options[this.selectedIndex].getAttribute("data-body");

                tabContent.find('input[name=Subject]').val(subject);
                tabContent.find('textarea[name=Message]').val(body);
            });
        });

    </script>
}

@functions{
    string AlertClass(EventModel model)
    {
        if (model.Archived)
        {
            return "alert-warning";
        }
        else if (model.IsOpen)
        {
            return "alert-success";
        }
        else
        {
            return model.SignupOpensAt.HasValue
                ? "alert-warning"
                : "alert-danger";
        }
    }
}
