@using MemberService.Pages.Event
@model EventModel

@{
    ViewData["Title"] = Model.Title;
}
<h2>@ViewData["Title"]</h2>

<a asp-controller="Signup" asp-action="Index" asp-route-id="@Model.Id">Delbar link til påmelding</a>

<form class="row" method="POST">
    @if(Model.IsRoleSignup)
    {
        <div class="col-md-6">
            <h4>Førere</h4>
            <partial name="_ParticipantTable" for="@Model.Leads" />
        </div>
        <div class="col-md-6">
            <h4>Følgere</h4>
            <partial name="_ParticipantTable" for="@Model.Follows" />
        </div>
    }
    else
    {
        <div class="col-md-12">
            <h4>Solo</h4>
            <partial name="_ParticipantTable" for="@Model.Solo" />
        </div>
    }
    <div class="col-md-12">
        <button type="submit" class="btn btn-primary">Lagre</button>
    </div>
</form>

