@using MemberService.Pages.Admin
@model AdminModel
@{
    ViewData["Title"] = "Admin";
}

<div class="card mb-3">
    <h3 class="card-header">
        Importer fra Stripe
    </h3>
    <form class="card-body form-inline" asp-action="Import" method="POST">
        <label>Alt etter </label>
        <input class="form-control mr-2 ml-2" type="date" name="after" value="@DateTime.Now.ToString("yyyy-MM-dd")">
        <button type="submit" class="btn btn-success">Importer</button>
    </form>
</div>



<form asp-action="MassEmail" method="POST" class="card mb-3">
    <h3 class="card-header">
        Send epost til alle fjorårets og årets medlemmer
    </h3>
    <div class="card-body">
        <div class="form-group form-check">
            <input type="checkbox" name="onlyMe" id="onlyMe" value="true">
            <label for="onlyMe">Send en test til bare deg selv</label>
        </div>
        <div class="form-group">
            <label>Subject</label>
            <input type="text" class="form-control" name="subject" value="">
        </div>
        <div class="form-group">
            <label>Body</label>
            <textarea class="form-control" name="body" rows="10"></textarea>
        </div>
        <small class="text-muted">
            Du kan bruke markdown og du kan bruke <code>{NAME}</code> for å flette inn brukerens navn.
        </small>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-success">Send</button>
    </div>
</form>

<h2>Roller</h2>

<div class="card-deck">
    @foreach (var (role, users) in Model.Roles)
    {
        <div class="card">
            <h3 class="card-header">
                @role.Name
            </h3>
            <ul class="list-group list-group-flush">
                @foreach (var user in users)
                {
                    <li class="list-group-item">
                        <a asp-controller="Members" asp-action="Details" asp-route-id="@user.Id">
                            @user.FullName
                            <br />
                            <span class="text-muted">(@user.Email)</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
</div>