@using MemberService.Data.ValueTypes
@model SemesterModel

@{
    ViewData["ContainerClass"] = "container-fluid";
    ViewData["Title"] = Model.Title;
}

<vc:semester-header id="@Model.Id"></vc:semester-header>

<table class="table">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Påmeldte</th>
            <th>Deltakere</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eventEntry in Model.Courses)
        {
            <tr>
                <td><a asp-controller="Event" asp-action="View" asp-route-id="@eventEntry.Id">@eventEntry.Title</a></td>
                <td>@eventEntry.RolesCount()</td>
                <td>@eventEntry.RolesCount(Status.AcceptedAndPayed)</td>
                <td>@eventEntry.Status()</td>
            </tr>
        }
    </tbody>
</table>

@if (User.IsInAnyRole(Roles.Coordinator, Roles.Admin))
{
    <a href="?archived=true">Se gamle arrangementer også</a>
}
