@page "{id}"
@model MemberService.Pages.Semester.SurveyModel

@{
    ViewData["ContainerClass"] = "container-fluid";
    ViewData["Title"] = Model.Title;
    var totalCount = Model.Responses.DistinctBy(r => r.UserId).Count();
}
<vc:semester-header id="@Model.SemesterId"></vc:semester-header>

<h2>
    Spørreundersøkelse
    @if (await AuthorizationService.IsAuthorized(User, Model.Id, Policy.CanEditSurvey))
    {
        <a class="float-right btn btn-outline-primary" asp-controller="Survey" asp-action="Edit" asp-route-id="@Model.Id">
            Rediger
        </a>
    }    
</h2>

@if (Model.Questions.NotAny())
{
    <div class="alert alert-info">
        <h5 class="alert-heading">
            Ingeng spørsmål
        </h5>
        <p>
            Legg til spørsmål for å få svar
        </p>
    </div>
}
else
{
    <form method="get" asp-controller="Questions" asp-action="Index" asp-route-semesterId="@Model.SemesterId" class="btn-group" role="group" aria-label="Basic example">
        <button type="submit" name="filter" value="all" class="btn btn-secondary @(Model.Filter == "all" ? "active" : "")">
            Alle
            @*<span class="badge badge-light">@Model.SignupsByAll</span>*@
        </button>
        <button type="submit" name="filter" value="member" class="btn btn-secondary @(Model.Filter == "member" ? "active" : "")">
            Medlemmer
            @*<span class="badge badge-light">@Model.SignupsByApproved</span>*@
        </button>
        <button type="submit" name="filter" value="training" class="btn btn-secondary @(Model.Filter == "training" ? "active" : "")">
            Betalt treningsavgift
            @*<span class="badge badge-light">@Model.SignupsByPaid</span>*@
        </button>
        <button type="submit" name="filter" value="classes" class="btn btn-secondary @(Model.Filter == "classes" ? "active" : "")">
            Kursdeltagere
            @*<span class="badge badge-light">@Model.SignupsByPaid</span>*@
        </button>
    </form>

    <div class="card-columns card-columns-2 mt-5">
        @foreach (var question in Model.Questions)
        {
            <div class="card mb-5">
                <div class="card-header">
                    <h5 class="card-title">@question.Title</h5>
                    <h6>@question.Description</h6>
                    <small class="text-muted">
                        <input type="@question.Type" checked onclick="return false" />
                        @question.Type.DisplayName()
                    </small>
                </div>
                <ul class="list-group list-group-flush">
                    @foreach (var option in question.Options)
                    {
                        var selectedBy = Model.Responses.Where(r => r.OptionId == option.Id).ToList();

                        var selectedByCount = selectedBy.Count;

                        <li class="list-group-item">
                            <h5 class="d-flex">
                                <span>
                                    <input type="@question.Type" checked onclick="return false" />
                                    @option.Title
                                </span>
                            </h5>
                            <p>@option.Description</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: @Math.Floor(selectedByCount * 100f / totalCount)%; font-weight: bold;" aria-valuenow="@selectedByCount" aria-valuemin="0" aria-valuemax="@totalCount">@selectedByCount</div>
                            </div>
                            @if (selectedBy.Any())
                            {
                                <details>
                                    <summary>Se hvem</summary>
                                    <ol>
                                        @foreach (var signup in selectedBy)
                                        {
                                            <li>
                                                <a asp-controller="Members" asp-action="Details" asp-route-id="@signup.UserId" target="_blank">@signup.Name</a>
                                                <span class="badge badge-primary">
                                                    @if (signup.HasPayedClassesFeeThisSemester)
                                                    {
                                                        @: Kursdeltaker
                                                    }
                                                    else if (signup.HasPayedTrainingFeeThisSemester)
                                                    {
                                                        @: Egentrening
                                                    }
                                                    else if (signup.HasPayedMembershipThisYear)
                                                    {
                                                        @: Medlem
                                                    }
                                                    else
                                                    {
                                                        @: Ikke medlem
                                                    }
                                                </span>
                                            </li>
                                        }
                                    </ol>
                                </details>
                            }
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
}